[2015-08-09 20:29] mojtabakaviani opened #1 "DOCX/PPTX conversion to PDF"
please work on DOCX/PPTX conversion to PDF

[2015-08-09 21:31] EricWhiteDev commented on #1
That is a really great idea, but we have some super high-pri projects to do before this comes to the top of the stack.  There are commercial products out there that do this, I believe.  Have you taken a look at them?

[2015-08-09 21:31] #1 closed

[2015-08-10 05:31] mojtabakaviani commented on #1
So, Conversion to XPS/OXPS/TIFF

[2015-08-10 05:31] mojtabakaviani opened #2 "DOCX/PPTX Conversion to XPS/OXPS/TIFF"
Please Conversion to XPS/OXPS/TIFF

[2015-09-04 13:27] dbeaulieu opened #6 "Is CommentMerger functionality still available?"
[CommentMerger](http://blogs.msdn.com/b/ericwhite/archive/2009/08/11/update-to-commentmerger-mergecomments-method.aspx) was part of OOXML PowerTools (It is in [v2.2 on CodePlex](https://powertools.codeplex.com/downloads/get/291022))

Was this removed and if so, is there an alternate/recommended way of achieving comment merging?

[2015-09-11 11:32] Ganesan-Chandran opened #8 "Merge Document Issue (Urgent Please)"
Hi,

I have use latest Document builder version.But still i got document merge issue.

![image2 1](https://cloud.githubusercontent.com/assets/14222592/9813829/8da9ffd8-58a6-11e5-9074-455b0726dc93.png)

The content of second word templates is merge with content of previous word template.I need the second word template start with as new page.
How to resolve above problem.
(Any code is there or any w

[2015-09-15 12:00] Ganesan-Chandran opened #9 "Add snk file to System.IO.Packaging,DocumentFormat.OpenXml and PowerTools .Strong-name signed assemblies must specify a public key in their InternalsVisibleTo declarations."
Hi,

I have add latest OpenXml SDK (2.6) and PowerTools 4.0 in my project.I have added snk file to my project.I got Unable to emit assembly error.So i try to add snk file for System.IO.Packaging,DocumentFormat.OpenXml and PowerTools . For System.IO.Packaging there is no problem.But For DocumentFormat.OpenXml,After adding snk file i got below error.

Friend assembly reference 'SdbBuilder' is invali

[2015-10-06 10:26] rajcitystar opened #11 "Repeated Header and footer count"
Acutally i need to get the characters count in docx(including header and footer).
but open xml sdk is not giving header and footer part count.
now i have read the header and footer text. but I would like to know the number of time the header and footer text used in docx. so that i can multiply and get the correct count of header and footer text

[2015-10-23 09:00] lajjne opened #18 "Issues when converting links with HtmlToWmlConverter"
I found a couple of issues with converting `<a href=""></a>` links to Wml.

If the href attribute does not exist or is not a valid Uri the link text is removed from the converted document. In my opinion it would be better to keep the link text: Example

`Testing <a href="#">link</a> with #` => `Testing with #`

Linked images are removed from the output. Example

`An image <a href="http://www.examp

[2015-10-23 10:37] lajjne opened #19 "HtmlToWmlConverter removes pre, tt, code, kbd, samp etc."
All text inside `<pre>`, `<tt>`, `<code>`, `<kbd>` and `<samp>` is removed when converting to docx with HtmlToWmlConverter

[2015-10-23 15:29] EricWhiteDev commented on #19
@lajjne Very good point.  This needs addressed.  I have assigned to myself.

[2015-10-23 15:30] EricWhiteDev commented on #18
I agree with this.  Needs to be addressed.  I have assigned to myself.

[2015-10-23 18:31] lajjne commented on #19
I found that this is a general problem with all elements that is not explicitly handled in the Transform method.

[2015-10-23 23:37] EricWhiteDev commented on #19
Do you have a suggestion about how to handle all elements that are not explicitly handled?

In the case of  `<pre>`, `<tt>`, `<code>`, `<kbd>` and `<samp>`, they should be converted to a fixed font, I believe.

[2015-10-24 09:10] lajjne commented on #19
I have a couple of ideas. I'll try to submit a pull request, but since I don't fully understand the code base you will probably need to tweak it a bit to fit in with the rest of the code :)

[2015-10-24 12:04] EricWhiteDev commented on #19
I'd love to see the PR, but in any case, don't hassle too much - these changes are pretty easy - can knock them out in an hour or two, and I have some specific ideas of how to implement them.

In general, I'm thinking that for pre, tt, code, kbd, and samp, I will define a linked paragraph/character style with a fixed width font.  It is possible to also put the font / font size info into the HtmlTo

[2015-10-24 16:49] lajjne commented on #19
I'm not sure you need to do anything special for `tt`, `code`, `kbd`, and `samp`. The existing defaultCss already handles the styling. All I did to get it working was to add this in the Transform method:

[code]

Handling `pre` was a little more difficult since it needs to keep the existing whitespace and line breaks. I ended up with something like this but you can probably come up with a more ele

[2015-10-26 15:03] EricWhiteDev commented on #19
@lajjne Ok, take a look now.  I've just pushed a fix for pre, code, samp, kbd, and tt.  Take a look at T1650.html and T1660.html.

I'll look at the hyperlinks issue next.

[2015-10-26 15:05] EricWhiteDev commented on #19
Also, I'm leaving this open, as I want to go through the https://developer.mozilla.org/en/docs/Web/HTML/Element and http://www.w3.org/TR/html5/infrastructure.html#extensibility-0

[2015-10-26 18:52] lajjne commented on #19
Works perfectly. Thanks. Also good that you are keeping it open until all other elements (even unknown) are handled. Just today I ran into a document where a `blockquote` was removed in the conversion.

[2015-10-27 01:14] EricWhiteDev commented on #19
I want this module to be top notch - and it is fun to tie up these loose ends.  :-)  Technically, I am on vacation, so progress will happen as chances occur.

[2015-10-27 01:28] EricWhiteDev commented on #11
@rajcitystar The issue of getting the correct character count including headers and footers is pretty complicated, in that for any section, the headers and footers may be 'inherited' from the previous section.  The semantics of the markup are a bit complicated, in that the lack of one of the three possible w:headerReference elements in a w:sectPr can mean that there is, for instance, only a defaul

[2015-10-27 01:28] #11 closed

[2015-10-27 01:31] EricWhiteDev commented on #8
Can you please attach some sample documents, along with the code that you are using with DocumentBuilder, so that I can see the issue exactly?  I believe that the keepSections option that you can use with each source in DocumentBuilder will solve your problem, but I am not fully clear on the exact issue you face, so need the sample documents.

[2015-10-27 01:36] EricWhiteDev commented on #6
CommentMerger was removed - there were issues associated with the case where the documents were not identical, except for comments, and if I remember correctly, CommentMerger could produce an invalid document, so I removed it until I could properly address the issue.

[2015-10-27 01:36] #6 closed

[2015-10-27 01:38] EricWhiteDev commented on #2
This is a great idea, however, this functionality is out of scope for Open-Xml-PowerTools, at least for now.  I am closing this, because it is not contemplated for implementation.

[2015-10-27 01:38] #2 closed

[2015-10-27 01:43] EricWhiteDev commented on #9
@Ganesan-Chandran Rather than try to add the DLLs to your project where you need strong-named type project, can you simply add links to the source modules, and compile all modules as though they are part of your project directly?

[2015-10-27 09:54] mojtabakaviani opened #21 "Open xml documents rasterizing"
please work on capability can easy rasterizing docx, xlsx and pptx pages

[2015-10-27 11:23] MichaelSagalovich opened #22 "Can we have a nuget package for this?"
There is a nuget package for this, but it is not official, I believe: https://www.nuget.org/packages/OpenXmlPowerTools/. Moreover, it is version 4.0, while 4.1 has already been released.

So, can we have a proper nuget package?

Thanks!

[2015-10-27 14:49] EricWhiteDev commented on #21
This is an excellent idea.  However, probably not to be scheduled for this year and probably not next.  Pagination of WordprocessingML is a big project.

I've noted your request, and will bring it to the attention of the folks who set priorities.

[2015-10-27 14:49] #21 closed

[2015-10-27 14:51] EricWhiteDev commented on #22
This is a great idea.  I'll assign it to myself, but don't have any information on when I can address this.  I'm on vacation right now, and when I get back, will have some high priority projects that need to be done before I can work on anything else.

[2015-10-27 14:56] EricWhiteDev opened #23 "Do transformations in footer rows, so that can pull data into them."
@BrettBailey suggested this.

[2015-10-27 22:32] EricWhiteDev opened #24 "Handle the <base> element to set baseUri"
Adding this as an issue, as it is a 4 hour project to add support for this.

[2015-10-28 00:32] EricWhiteDev opened #25 "Handle title element in HtmlToWmlConverter"
Put the title element value in the Title property in core props.

[2015-10-28 11:11] MichaelSagalovich opened #26 "Ability to process data from clipboard"
Maybe it is already supported, but I could not find it?

As an api user
I want to be able to translate a text from clipboard that represents a chunk of text copied / cut from MS Word document into HTML
So that I can then use that HTML on a web page

Actually, it would be perfect if I could pass just a string with OXML (so that I care about reading clipboard myself), I just described the real-life

[2015-10-29 15:29] GuyMetz opened #27 "DocumentAssembler and Page Number"
I was trying to Process a Document with DocumentAssembler that had a page number configured into the Footer. DocumentAssembler is trying to process the content of the Content Control that Word inserted as XML and replacing it with the Invalid Xml Message. This might be a more general problem in that DocumentAssembler appears to want to process all Content Controls in the Document?

[2015-10-31 00:47] EricWhiteDev commented on #19
@lajjne I've modified HtmlToWmlConverter to simply recursively process all descendants for unknown elements.  I added tests for section, article elements, and it works properly.  I am sure that there is further work that we eventually want to do to this module in this area to modify the rendering of additional elements, but there are other high-pri objectives that we want to take care of first.

T

[2015-10-31 00:47] #19 closed

[2015-11-01 14:02] eliu03 opened #28 "Operation is not supported."
Hi,

When i run the demo WmlToHtmlConverter01.exe get the error PtOpenXmlExtensions.GetXDocument throw exception 'Operation is not supported.'. Environment is Mono on Mac. How could I fix that?

Thanks,

Edison

[2015-11-02 01:23] EricWhiteDev commented on #28
Hi Edison,

We haven't yet done the work to port to Mono on Mac, but it is on our list.

Can you please post a stack trace for the exception?

Thanks,

Eric

[2015-11-02 01:25] EricWhiteDev commented on #27
Yes, you are right.  DocumentAssembler should ignore content controls that are not specifically part of configuring the template.  I'll take care of this.

[2015-11-02 01:27] EricWhiteDev commented on #26
This is a great idea.  I'll take a look.  I am on vacation, so I am online only a limited amount every day.  But I may have a chance to look a this.

[2015-11-02 01:47] eliu03 commented on #28
Hi Eric,

Below is the stack trace, hope that can help you.

[code]

Cheers,

--
Edison

[2015-11-02 02:34] EricWhiteDev commented on #28
Can you check whether the document is read-only?  Also, what is the mode in which you are opening the document?

IIRC, there is an issue in opening documents in Mono where the document is read-only, or if the mode of opening is for read, not RW.

If this is the same bug as has been noted previously, if you make the document so that it is not read-only, and if you open for reading / writing (even i

[2015-11-02 07:07] eliu03 commented on #28
Hi Eric,

Below is the inner exception, seems Mono's DeflateStream not support something.

[code]

Is the information enough? Any other info you need let me know.

Cheers,

--
Edison

[2015-11-02 10:09] EricWhiteDev commented on #27
I've pushed a change that fixes this.

https://github.com/OfficeDev/Open-Xml-PowerTools/commit/cdd270f21b36ca5e9052b3b8b3d3fe6139ba9b0e

[2015-11-02 10:09] #27 closed

[2015-11-02 10:14] EricWhiteDev commented on #28
Hmmm.  This is probably going to need to wait until we do the proper port to Mono, on all the various platforms.  Would you kindly do something - post an issue to https://github.com/OfficeDev/Open-Xml-Sdk?  Please attach the document that the SDK is having troubles opening.  That will enable us to create an XUnit test that fails on Mono.

I am going to push for higher priority to porting to Mono,

[2015-11-02 10:14] #28 closed

[2015-11-02 10:15] EricWhiteDev commented on #23
Fixed

https://github.com/OfficeDev/Open-Xml-PowerTools/commit/cdd270f21b36ca5e9052b3b8b3d3fe6139ba9b0e

[2015-11-02 10:15] #23 closed

[2015-11-02 10:16] EricWhiteDev commented on #8
Closing this issue until we have documents that repro.

[2015-11-02 10:16] #8 closed

[2015-11-02 14:19] GuyMetz commented on #27
Thanks.

On Mon, Nov 2, 2015 at 5:09 AM, Eric White <notifications@github.com> wrote:

--
*Guy Metz*

[2015-11-02 22:13] BrettBailey commented on #23
Thanks for adding that Eric I really appreciate it.

[2015-11-03 01:32] EricWhiteDev commented on #23
Did you give it a try?  Look at test DA236-Table-With-Sum

[2015-11-04 12:28] chrlutz opened #29 "DocumentAssembler: Error-Message of Repeat-Element might produce invalid DOCX"
In the following case a Repeat-Element produces invalid DOCX:

If there‘s a Repeat-Element in a paragraph, mixed with other elements in the same paragraph AND the XPath-Evaluation for Repeat returns no result-nodes.

In this case Repeat produces an Error-Message like &lt;w:p>&lt;w:r>...Error-message...&lt;/w:r>&lt;/w:p> WITHIN the context of a &lt;w:p> element and I would get the following invalid

[2015-11-04 13:16] chrlutz opened #30 "DocumentAssembler: Repeat-Element doesn't find matching EndRepeat"
I had an "In-Paragraph Repitition" like

&lt;Repeat Select="./car"/>&lt;Content Select="@name" />, &lt;EndRepeat />

and i splitted it up into a multiple paragraph-version (by pressing enter after at the end of the content controls). Now it looks like this:

  &lt;Repeat Select="./car"/>
  &lt;Content Select="@name" />
  &lt;EndRepeat />

now, for some reason, DocumentAssembler doesn't find the co

[2015-11-04 13:39] chrlutz opened #31 "DocumentAssembler: typo in Repeat element leeds to invalid docx result"
I had the following situation:

![repeatissue31](https://cloud.githubusercontent.com/assets/10079489/10939231/7329f99a-8300-11e5-9106-3e141f0b62ad.png)

Please note the typo in the Repeat statement: "Secelt" should be "Select".

This typo leads to an invalid docx result. So for a template creator this means the corresponding error message cannot be viewed because the result document (that contains

[2015-11-09 02:50] EricWhiteDev commented on #22
I'm looking for some help here - if anyone has bandwidth and experience to put together changes to the csproj / sln files so that it produces a Nuget package, would be helpful.  We can then create and keep updated a nuget package.

[2015-11-09 08:24] MichaelSagalovich commented on #22
Unfortunately, I do not have such expertise, though it looks to be rather
trivial in theory.

On Mon, Nov 9, 2015 at 5:50 AM, Eric White <notifications@github.com> wrote:

[2015-11-09 13:54] EricWhiteDev commented on #22
I pinged the fellow who created the unofficial Nuget package.  Maybe can team up with him to get this done.  Would be awesome!

[2015-11-10 16:39] BrettBailey commented on #23
Hi Eric

Sorry for not getting back to you I've been away on holiday myself.  I have tried it out today and it works a treat :-)  I really like that you can leave blank rows and then have the transforms on the very last row.

I've have had a little monkey about with the code and I have it so that you can use this in the footer:

<Content Select="sum(./Orders//Quantity/text())"/>

which sums up on

[2015-11-11 13:41] bill-long opened #35 "HtmlToWmlConverter fails on embedded images"
If the HTML contains an element such as:

[code]

It tries to instantiate a Bitmap using that **src** value as a file name, which fails:

[code]

Since I am performing these conversions inside an IIS app pool, it would be nice to remove the file system calls entirely and transform a MemoryStream instead of creating a file somewhere.

[2015-11-13 09:31] Hedath commented on #22
Any news on this?

[2015-11-13 12:19] BrettBailey commented on #22
I've dabbled in this area (I have a nuget package on an internal server for my fork of powertools) and might be able to help out if the unofficial nuget guy isn't interested.

The way I would tackle this would be to use teamcity on code better http://codebetter.com/codebetter-ci/ to do CI on the master branch and auto publish to nuget.org evertime you merge vNext into master.

However to get this

[2015-11-13 12:24] MichaelSagalovich commented on #22
Oh, SDK itself is not in nuget??? Come on! Is not it ridiculous?

On Fri, Nov 13, 2015 at 3:19 PM, Brett Bailey <notifications@github.com>
wrote:

[2015-11-13 12:26] MichaelSagalovich commented on #22
ehm, sorry, for some reason I thought SDK was something developed by Microsoft :)

[2015-11-19 14:34] Hedath opened #38 "HtmlToWmlCssApplier double conversion"
Hi!
The ComputeAbsoluteLength method in the HtmlToWmlCssApplier class converts string values to double with this code (line 1424):
[code]
Unfortunately, this uses CultureInfo.CurrentCulture, but the ComputeAbsoluteLength method assumes that the double value should contain a dot, not a comma.
If you run this code on a machine with a CultureInfo that expects a comma in the double value, this code wi

[2015-11-20 06:51] EricWhiteDev commented on #38
You are absolutely right.  I'm in the middle of some other code, but should get to a good stopping point, and will make that change right away.

[2015-11-20 08:48] Hedath commented on #22
The SDK already has a nuget package:
https://www.nuget.org/packages/documentformat.openxml/

[2015-11-20 08:57] anantu commented on #22
It is outdated..

[2015-11-20 14:30] jmanring opened #39 "ZipArchive.CreateEntry not found."
I'm working on a simple app to merge presentations based on the PresentationBuilder example. I have it working fine in Windows but when I push it to my Linux box, compile it in Mono it throws a "System.MissingMethodException: Method 'ZipArchive.CreateEntry' not found." error. Any idea what is going on?

[code]

[2015-11-21 01:28] EricWhiteDev commented on #39
@jmanring Yes, all of this needs ported to Mono.  There are some utility functions that enable fixing invalid URIs.  You probably don't need that code, so you can just comment it out.

I'm curious about one thing - the new .NET framework is at release candidate status, and I believe that it will not be too difficult to port the Open-Xml-Sdk and Open-Xml-PowerTools to it.  Some work is required, bu

[2015-11-23 14:48] jmanring commented on #39
At this point I need to keep this project moving so I am willing to do what it takes to make it happen. I am just now venturing into using the Open-Xml-Sdk and Open-Xml-PowerTools packages. If you can give me the instructions on using the new .NET framework I'll be glad to give it a try.

[2015-11-23 17:12] gabisandor commented on #22
Is the plan to have an official, up-to-date NuGet package abandoned after all...?

[2015-11-23 20:50] BrettBailey commented on #22
Maybe some of the folks who are clearly desperate for this can chip in and make it happen?  Google how to do it and make a pull request and collect some kudos.

[2015-11-23 23:12] EricWhiteDev commented on #39
Can you contact me at eric at ericwhite.com - I want to understand your scenario and what you need to do.  Are you open to chatting by phone / skype for a few minutes?  Maybe we can figure out a plan with a high chance of success.

While I state that "it will not be too difficult to port the Open-Xml-Sdk and Open-Xml-PowerTools" to COREFX, this task should not be underestimated.

[2015-11-24 00:42] EricWhiteDev commented on #22
I think that the correct approach is that first, we need a NuGet package for the open source Open-Xml-Sdk, and then to create a NuGet package for Open-Xml-PowerTools that is dependent on the Open-Xml-Sdk.  I believe that the correct approach is to modify the build steps for the two libraries to create the NuGet package, and then it becomes easy to update the NuGet package whenever we have incorpor

[2015-11-24 10:01] gabisandor commented on #22
Well i could give it a shot, i used on a (non-GitHub) project NuGet Package Explorer (https://npe.codeplex.com/) in order to create and publish NuGet packages to an internal server. Maybe doing it in GitHub it's not very different; i'll try to see what i can do and if anything worthy comes out of it i'll launch a pull request.

[2015-11-24 10:39] EricWhiteDev commented on #39
@jmanring This issue properly should be in https://github.com/OfficeDev/Open-Xml-Sdk.  Would you kindly open the issue there?

[2015-11-24 10:39] #39 closed

[2015-11-24 10:46] EricWhiteDev commented on #38
@Hedath I've made and pushed the change.  Thanks for the help!

[2015-11-24 10:46] #38 closed

[2015-11-24 12:45] BrettBailey opened #40 "DocumentAssember: Unit tests for generated documents that won't open."
I've hit a number of issues where a document has been assembled correctly, no errors raised but the document just won't open.

Its usually because of missing xml tags that can be rectified by putting spaces in the template. There is big risk that an end user may tweak the template wording and accidentally remove some white space that causes us to email documents to customers that won't open.

I wo

[2015-11-24 12:47] BrettBailey opened #41 "HTML Converter : Support Images"
The docx to Html Converter seems to ignore images.

[2015-11-24 12:57] BrettBailey opened #42 "DocumentAssembler: Support for Images"
It would be nice if there was an easier way to insert images into an assembled document.  Currently we are using a some bookmark replacement code found on @EricWhiteDev  's blog but to do this we have to save the WmlDocument to disk and then open it again as a WordProcessingDocument to run the snippet before saving again.

If we add it to document assembler there needs to be some way of controllin

[2015-11-24 15:46] gabisandor commented on #22
I continued the discussion regarding Open XML SDK NuGet packages in its original thread: https://github.com/OfficeDev/Open-XML-SDK/issues/2.

[2015-11-24 19:24] dylancristy commented on #9
@EricWhiteDev I'm running into the same issue.  I'm willing to try the solution you suggested, but could you briefly describe how that's done?  I know how to add other projects into my VS solution, but as far as I know that still compiles into separate DLLs.  How can I link in the way you describe (so that all the OpenXML stuff ends up in my main DLL)?

[2015-11-25 00:30] EricWhiteDev commented on #31
I agree, DocumentAssembler should never generate an invalid document!

The case was an orphan EndRepeat metadata element that was left in the document.  I modified DocumentAssembler to look for these and replace with an error paragraph.  I added tests, and they now properly process a Repeat with a schema error.

[2015-11-25 00:30] #31 closed

[2015-11-25 05:51] EricWhiteDev commented on #30
The issue here is that Repeat and EndRepeat (also Conditional / EndConditional) should work at the run level or block level.  The problem occurs when the Repeat and EndRepeat are at the run level, in different paragraphs.  I changed it as follows:

- if there is a run level Repeat / EndRepeat, and that is the only metadata in a paragraph, I move it to the block level.  This fixes your situation.

[2015-11-25 05:51] #30 closed

[2015-11-25 06:23] EricWhiteDev commented on #29
The new logic that takes context into account when creating an error fixes this situation.  I have added a test for this.

[2015-11-25 06:23] #29 closed

[2015-11-25 06:29] EricWhiteDev commented on #40
@BrettBailey Sorry, I don't understand "missing xml tags that can be rectified by putting spaces in the template".  Are you speaking of the metadata XML?  Each of the metadata XML is validated per schemas that are embedded in DocumentAssembler.cs.  Removing spaces should cause the XML to be invalid, putting up the appropriate error.

To start, can you submit a PR for some test cases that fail?

On

[2015-11-25 06:34] EricWhiteDev commented on #41
It does support images.  When you run the WmlToHtmlConverter example, you should see some documents that contain images that get converted and put into the HTML.

I am wondering if your event handler for handling images, which you must pass to WmlToHtmlConverter, isn't quite correct.

BTW, note that I recently renamed HtmlConverter.cs (and class) to WmlToHtmlConverter.cs.  For back compat, I added

[2015-11-25 06:47] EricWhiteDev commented on #42
This is one of the enhancements slated to go in, as time permits.

My tentative design:
- There would be a new metadata element, Image, which would have attributes for height and width.
- Would also be nice to have attributes to support whether the image is in-line, behind text, or in front of text.
- Probably would not support floating images.  It would be problematic from a user's point of view

[2015-11-25 09:09] EricWhiteDev commented on #29
@chrlutz, @BrettBailey Christoph, Brett, if both of you would kindly pull the latest, check it out, I would appreciate it.

[2015-11-25 12:11] BrettBailey commented on #42
Sounds good.

From my own usage scenario I would never go to the bother of embedding the image in the source xml file.  I also don't think I would ever need to place an image behind / over text.

It could be that we de scope those 2 things in the first instance  to make this an easier task?  Certainly much easier to unit test ;-)

If you want more control over image placement could you do some kin

[2015-11-25 12:24] BrettBailey commented on #41
Yes, you're right, there is a problem with the event handler.

[2015-11-25 12:40] BrettBailey commented on #40
"missing xml tags that can be rectified by putting spaces in the template"

My suspicion is that, sometimes,  if a conditional  is the only content in a paragraph or table then and the contrition is not satisfied the replacement code can mess up and leave you with a word document that will not open.  I've not isolated the specific problem but adding extra whitespace around the conditional tag in t

[2015-11-25 12:53] EricWhiteDev commented on #41
Ok, closing this issue then.

[2015-11-25 12:53] #41 closed

[2015-11-25 12:55] EricWhiteDev commented on #40
I significantly changed that code yesterday and today.  I believe your issue will be resolved, I hope, anyway.  Closing for now.  Can reopen it as necessary.

[2015-11-25 12:55] #40 closed

[2015-11-26 16:19] Tokebluff opened #43 "HTML Converter: Images position"
The docx to Html Converter takes the image and adds a img element inside a span element on the html generated, but all the spans have `white-space: pre-wrap` (because of this setting : `GeneralCss = "span { white-space: pre-wrap; }";` ) and because of that all the images are shifted to the right  when the image is on the left side of the document, and shifted down when the image is on the right si

[2015-11-27 01:58] EricWhiteDev commented on #43
Do you think that the default css as shipped should have white-space: nowrap?

[2015-11-27 03:33] EricWhiteDev opened #44 "DocumentAssembler - Having an Else construct for Conditional"
With the newly added NotMatch, possible to have two alternative pieces of content based on a match.  It would be cleaner, markup wise, to have an Else.

We have both block-level, and run-level conditional, and Else would be applicable in both these scenarios.

[2015-11-27 05:42] EricWhiteDev commented on #35
I've just added support for this.  Just committed to vNext branch.

I also added Xunit tests for this.  Also added a new WmlToHtmlConverter.cs example that converts to HTML putting images in base64 in the src attribute.

I will take a look and see if there is anywhere else that requires a file rather than a MemoryStream.

[2015-11-27 05:42] #35 closed

[2015-11-27 08:25] EricWhiteDev commented on #18
@lajjne I've made these modifications:

- links with invalid URIs have their contents generated.
- linked images are properly processed.
- link in table cell now generates correct markup.

Have added Xunit tests.

These changes are in the vNext branch in the repo.

[2015-11-27 08:25] #18 closed

[2015-11-27 09:17] Tokebluff commented on #43
Only the spans that have an img tag inside. I fixed it by replacing the General Css with `span { white-space: pre-wrap; } .nowrapwhitespace {white-space:nowrap !important;}` and then with jquery `$('img').parent().addClass ("nowrapwhitespace");` so I can add that css class to the spans containing an image.

[2015-12-02 12:46] arisco opened #45 "using DocumentAssembler, word template tags"
Hi Eric,
thanks for DocumentAssembler introduction video is very usefull.

But how could I define a image content in my .docx template?
For regular text content is, for example:  "<Content select = "./Name"/>
For Table is "<Table Select="./Devices/Device"/>
there are Repeat and Conditional tags too.

And for image? is something like media?

Where could I find all avaliable tags?

I have search in

[2015-12-02 22:22] EricWhiteDev commented on #45
Hi,

Certainly images and media need to be added to DocumentAssembler.  I plan on adding images this month, but we'll see.  Currently, I'm working on the functionality to include a named range from Excel, or any specified sheet/range from Excel into the generated document.

Also, you are correct, there needs to be better documentation.  The two videos actually demonstrate everything that is possib

[2015-12-08 15:51] JanVanderschoot opened #46 "Some tests fail when Regional Format is Dutch (Netherlands)"
Two tests (named T0010.html and T0013.html) fail when the Regional Settings in Control Panel are Dutch (Netherlands). All tests succeed when this is setting is changed to English (US).

[2015-12-10 15:50] k59319 opened #47 "HtmlToWml - span tag generates new paragraph"
If I use 'span' tag in my HTML code, the converter creates a new paragraph on each 'span' instead of just changing a text style inside a paragraph.

Example: my HTML code looks like
[code]
It generates one line of text in a web browser:
test ~~text~~ paragraph

But HtmlToWml converter generates ***three lines*** of text like this:
test
~~text~~
paragraph

How to make text decoration changes inside

[2015-12-10 23:20] EricWhiteDev commented on #47
The problem is that HtmlToWmlConverter interprets those spans as at the block level, not the run level.  If you enclose the text in a paragraph (or a div), then the spans will result in text decoration changes inside a paragraph.

There probably needs to be some changes to that algorithm.  It is probably more simplistic than it could be.  In the extreme case, HTML can look like this:

    <span>te

[2015-12-10 23:20] #47 closed

[2015-12-11 10:33] JanVanderschoot opened #48 "The Ignorable attribute contains an undefined prefix"
When the example document NumberedListTest.docx is passed through SimplifyMarkup, the resulting docx lists w15 in the Ignorable attribute in word/document.xml, but it misses a namespace declaration for w15.
If the resulting document is subsequently passed through Expand-DocxFormatting.ps1the same problem occurs both in word/document.xml and word/styles.xml.
These problems are signaled by both the

[2015-12-11 14:05] k59319 commented on #47
Actually I have this text inside a 'td' tag. I can make a preprocessor that will put content of 'td' tag into a div.
[code]

[2015-12-11 14:11] k59319 opened #49 "HtmlToWml - font tag support"
I have a HTML fragment from SharePoint rich text field and I need to paste it into a Word document. The converter works good but it ignores 'font' tag at all.

[code]

It has black font color in .docx after conversion.
The full html fragment is attached.
[html.txt](https://github.com/OfficeDev/Open-Xml-PowerTools/files/59445/html.txt)

[2015-12-22 18:34] jonathanmist opened #51 "DocumentAssembler: Formatting support?"
I'm using DocumentAssembler to inject text and tables. For some of the content I'd like to be able to insert formatted text with at least new lines/paragraphs and tabs/indents into the table cells and <Content> elements. It looks like EvaluateXPathToString removes all structure from the XML though.

Is it possible to add support for e.g. HTML or basic replacements (\n, \t etc.)?

In the meantime I

[2016-01-04 16:03] JulianMay opened #52 "HtmlToWmlConverter.ConvertHtmlToWml(...) throws OpenXmlPowerToolsException: did not return a double"
I'm trying to parse some html, in first round without regards for css in the html, keeping it as simple as possible. I've tried feeding an empty string, and the "defaultCss" as defined in the example : https://github.com/OfficeDev/Open-Xml-PowerTools/blob/vNext/OpenXmlPowerToolsExamples/HtmlToWmlConverter02/HtmlToWmlConverter02.cs , but to no avail. I keeping getting the same exception, supplied h

[2016-01-08 20:28] dotnetdan opened #54 "Stream writing XLXS"
Hi, the readme page mentions the following capability:

     Writing XLSX files using far simpler code than directly writing the markup, including a streaming approach that enables writing XLSX files with millions of rows.

I can't seem to find an example of this.  Can anyone provide any guidance on how to to this?  What I'm hoping to do is generate a large XLSX file in a WEBAPI service and stream

[2016-01-10 05:02] EricWhiteDev commented on #54
Hi,

Take a look at the following screen-cast:

http://openxmldeveloper.org/blog/b/openxmldeveloper/archive/2012/01/10/screen-cast-using-open-xml-and-linq-to-xml-in-a-streaming-fashion-to-create-huge-spreadsheets.aspx

A further modified and cleaned up version of this class is included in Open-Xml-PowerTools.

There needs to be an example of the use of this class in Open-Xml-PowerTools.  I've adde

[2016-01-10 05:02] #54 closed

[2016-01-11 15:14] RafalZadura commented on #52
I also came across the problem. It seems the issue stems from the fact that some cultures (most, in fact) use comma as decimal separator, instead of period. So when a thread is running with such culture info, double.parse will expect a comma, not a period it's getting from CSS - hence the exception.

You can try running your code with en-US locale and see if it works:

CultureInfo.DefaultThreadCur

[2016-01-12 03:33] EricWhiteDev opened #55 "Generate appropriate error when Conditional content control is placed at the run-level instead of block-level"
Also need to examine other content controls that should be at the block-level, appropriately handle.

[2016-01-19 04:11] anetegithub opened #56 "HTMLConverter: Self-closed hyperlink tag issue"
Big issue with self-closing tags in docx when converting to html.
See attached files:
![notprocessed](https://cloud.githubusercontent.com/assets/6468447/12409509/83913dc6-be8c-11e5-8939-5ce41d281ced.PNG)

![processed](https://cloud.githubusercontent.com/assets/6468447/12409488/563c18b4-be8c-11e5-83b2-4c326d89e97d.PNG)
![bug1](https://cloud.githubusercontent.com/assets/6468447/12409470/2b05b6b4-be8

[2016-01-19 06:05] koolprasad2003 opened #57 "Table/Document format gets changed after accept all changes using OpenXml Power Tools 4.1.3"
Hello Team

I am using OpenXml Power Tools 4.1.3 for accepting revision in document, when I use acceptRevision () method from OpenXml Power Tools my document/table gets disturbed and shows contents in single column, if I accept Revisions using Word's 'Accept all changes' menu, document not get  disturbed, it's seems its a BUG of  OpenXml Power Tools 4.1.3.

I have attached sample document to repli

[2016-01-19 12:37] EricWhiteDev commented on #57
Hi Prasad,

I see the difference, but am not clear on what is causing this.  It seems as though the issue is not one of putting the content into a single column, but of causing some change in the displayed width of the columns of tables.  The displayed width of columns is fairly complex to control, in that Word is allowed to override widths, taking them more as suggested widths, in order to layout

[2016-01-19 14:15] CleanCodeDeveloper opened #58 "Save IEnumerable<object> as *.xlsx using a stream approach due to large number of records."
Hello,
First, i want to thank you Eric White and all the other developers for the hard work and also for sharing it with others!

I would like to request a method where i can pass in an arbitrary `IEnumerable<T>` and a file path. The method should create a spreadsheet using a (true) streaming approach. I already had a look into your Screencast (Using Open XML and LINQ to XML in a Streaming Fashion

[2016-01-20 06:23] anantu commented on #58
I have faced System.OutOfMemoryException in some of my Open XML code (a bit similar case than you have) when running the 32-bit build, but not getting the exception when running the 64-bit build.

[2016-01-20 08:05] EricWhiteDev commented on #58
Hi,

If I remember correctly (it was some years ago when I did that work) the key point is that it is implemented to expect nothing more than something that implements IEnumerable<T>.  So anything that you can provide that is a lazy implementation (write a yield/return iterator), then those items will be short-lived.  I would have to go back and review.

I have assisted other developers in project

[2016-01-20 11:45] CleanCodeDeveloper commented on #58
Hi,
thank you for your suggestions! Unfortunately, I'm not sure how to change my code to avoid the `System.OutOfMemoryException`. I changed the implementation to `IEnumerable<Tbl_ANALYSIS_MILD_Movements>` on the lowest point i can influence but it does not work.

[code]
Now, the Exceptions occurs in the `SpreadsheetWriter.Write` Method. For the sake of completeness exception is listed below.
[code

[2016-01-24 00:37] EricWhiteDev commented on #56
@anetegithub Can you please tell me more about what the issue is?  If the resulting HTML is not what you expect, what do you expect?

Cheers, Eric

[2016-01-24 00:42] EricWhiteDev commented on #51
@jonathanmist I have in mind to expand DocumentAssembler to be able to import text from HTML and/or other DOCX files.  This should be data driven from the XML file, where the XML file specifies the location of the HTML or DOCX to import.  So the Import content control in the template document would contain an XPath expression that points to an element or attribute in the XML file, which then conta

[2016-01-24 00:48] EricWhiteDev commented on #49
@k59319 You are right, HtmlToWml should support the font tag.

I anticipate jumping back into Open-Xml-PowerTools development in a couple of months, after I complete the port of the Open-Xml-Sdk to Office 2016, which will be v3.0 of the SDK.  I'll address this issue then.

[2016-01-24 00:50] EricWhiteDev commented on #48
@JanVanderschoot You are right, MarkupSimplifier should do the right thing in this scenario, and certainly should not generate an invalid document, or a document that will not open.  I'll take a look.

[2016-01-24 01:07] EricWhiteDev commented on #48
@JanVanderschoot I have decided to add new XUnit tests for MarkupSimplifier, which go through all sample DOCX files in TestFiles, (will add the above file to TestFiles as well), simplify markup, and then validate, failing if MarkupSimplifier produces invalid markup.  I think there will be a couple of places where we may run into issues where MarkupSimplifier needs to be fixed.

I will be doing som

[2016-01-25 03:52] anetegithub commented on #56
If i used Word->File->Save as..->Html:

[code]

HtmlConverter:
[code]
Difference:
[code]
[code]

In outlook '07-'13 rendered:

![563c18b4-be8c-11e5-83b2-4c326d89e97d](https://cloud.githubusercontent.com/assets/6468447/12542107/d54d8030-c340-11e5-98f3-f3a9dbd0ccd0.PNG)

[2016-01-25 05:17] EricWhiteDev commented on #56
@anetegithub I just pushed a commit into the vNext branch that forces hyperlink (a) elements to be empty elements instead of self-closing.  Please give it a try, let me know.

I didn't address elements other than the 'a' tag.  If you have specific elements that also need this treatment, please let me know.

FWIW, this is a bug in Outlook - a self-closing tag is defined to be the same as an empty e

[2016-01-25 15:51] anetegithub commented on #56
@EricWhiteDev  So, at this point i understood that it is exceptional bug in outlook since 2007...
In my current project i will set empty space in empty tags to avoid this problem.
I think this thread can be closed.

[2016-01-25 15:51] #56 closed

[2016-01-25 21:13] jonathanmist commented on #51
Hi Eric,

Thanks for the update. I'll keep an eye out for any developments and let you know what I do in the meantime.

Jonathan

[2016-01-28 17:34] NavaneethaDev commented on #49
@k59319  did you try using "userCss" parameter in HtmlToWmlConverterCore.ConvertHtmlToWml method?

You could pass your styles as string. Refer the below example.

.ExternalClassEE9830F7214044AA993ADA217D2B5BBE
{
color:#ff91d2;
}

[2016-02-03 12:48] koolprasad2003 commented on #57
I will be very grateful to you if you fix it in upcoming version of OpenXMLPowerTool. As this is not a big issue but due to document looks disturbed, users get confused and simply marked it as 'Disturbed', Please he me to fix it.

[2016-02-04 16:31] PeteBritton68 commented on #55
Hi Eric,

Does this mean that you can't have a conditional select at run-level?

Thanks,
Pete

[2016-02-05 00:57] EricWhiteDev commented on #55
You are right, conditional should also be able to be at the run level.  But if it is at the run level, the end conditional should be in the same paragraph, at least I think it is reasonable that it should be.  But currently if there is a conditional at the run level in one paragraph, and the end conditional is in another paragraph, not sure if that works.

[2016-02-05 10:33] PeteBritton68 commented on #55
Hi Eric,

Thanks for your quick reply. You got me thinking - you seemed to pretty confident that a conditional select within a paragraph worked so I was wondering why it didn't, even in a very simple example. So I tried the same simple example using content controls instead of the <# ... #> syntax and lo and behold, it worked!

So, my simple template is (with the first paragraph using content cont

[2016-02-08 21:28] miminno opened #60 "Support for SVG"
Is supporting inline svg in HtmlToWmlConverter anywhere on this project roadmap? I wonder how difficult it might be to convert svg to wml, or if it's even feasible.

[2016-02-08 22:29] aMcafee opened #61 "WmlToHtmlConverter text boxes"
I noticed in [this post](http://openxmldeveloper.org/blog/b/openxmldeveloper/archive/2014/01/30/transform-docx-to-html-css-with-high-fidelity-using-powertools-for-open-xml.aspx), back in 2014, that there were plans to support converting MS Word text boxes to HTML. At the moment text boxes seem to be more or less ignored. So I was wondering if there has been any update since that post on if/when te

[2016-02-09 03:58] EricWhiteDev commented on #60
Currently, this is not on the roadmap.  It certainly would be an interesting project, but not currently scheduled.

[2016-02-09 03:58] #60 closed

[2016-02-09 04:01] EricWhiteDev commented on #61
This is something we contemplated doing at the same time as support for floating images, as text boxes share a lot in common with floating images.  I will be doing a round of enhancements in Feb or Mar on Open-Xml-PowerTools.  I am not yet certain about what we will be doing in that round, but will make sure that this is on the list of enhancements to be considered.  Leaving this issue open for th

[2016-02-09 16:30] aMcafee commented on #61
That's great to hear! Thank you!

[2016-03-04 17:10] george-polevoy opened #64 "Excess enumeration of RowDfn.Cells property in SpreadsheetWriter.Write"
RowDfn.Cells is a IEnumerable, and during execution of the SpreadsheetWriter.Write method it's enumerated twice, causing excess memory usage and bugs in case of a stateful implementation of IEnumerable'1 interface.

For example, IEnumerable might use a database connection which might be disposed upon disposing the underlying IEnumerator.

[2016-03-05 00:02] EricWhiteDev commented on #64
That is interesting - didn't remember writing that code to enumerate RowDfn.Cells twice.  Probably can insert a .ToList() that will take care of the issue.  I will be doing some maintenance in Open-Xml-PowerTools sometime this month, so will address this issue.

[2016-03-05 08:40] george-polevoy commented on #64
You have a .Count() call.

In my JumboExcell framework i skip this count entirely and it works without the attribute, but i am not sure if that is compatible.

OpenXml standard should remove that, because it prohibits optimizations using the writers, like in this case.

[2016-03-18 01:38] EricWhiteDev opened #65 "PresentationBuilder fails for PPTX that contain MP4"
From a forum post:

Please take a look at the code I got from PresentationBuilder::CopyRelatedMedia and the definition of DocumentFormat.OpenXml.Packaging.MediaDataPartType.

Since MediaDataPartType doesn't have mp4 in its enumeration, PowerTools GetMediadataPartTypeFromContentType uses the default value - MediaDataPartType.Wmv - as mp4 media type. That is why mp4 file cannot be played correctly.

[2016-03-27 03:32] rhuck opened #66 "Converting Headers and Footers to HTML"
Hi, guys,

I'm trying to convert a docx file to an HTML document, and want a way to get the header and footer from the document, each in separate functions. Right now it looks like I can only get the body using the ConvertToHtml function and passing in the wDoc.

I don't seem to find a way to do this in Open-Xml-PowerTools. I think what would be best is if, in addition to passing in a WmlDocument

[2016-03-29 05:30] EricWhiteDev commented on #66
Hi,

To convert headers/footers implies doing pagination on the document.  Pagination is not a feature of Open-Xml-PowerTools WmlToHtmlConverter.  I have thought about this feature, but it is a significant effort, and has not yet come to the top of the stack.

There are very specific semantics with regards to sections, headers, default headers, even and odd page headers, and headers that are inher

[2016-04-08 14:31] pragneshmpatel opened #67 "Is it possible to get Page by page HTML for word document"
I am trying to extract html from docx file using power tools.  is there anyway to find pagebreaks in the document?

[2016-04-08 16:20] EricWhiteDev commented on #67
No, that is not a feature of WmlToHtmlConverter.  Determining pagination would require implementation of a layout engine, and there is no layout engine in Open-Xml-PowerTools.

There are, in the document, w:lastRenderedPageBreak elements, however, you can't trust that they will be in the correct place.

Right now, there is no open source solution that can properly paginate an Open XML document.

[2016-04-11 02:34] rhuck commented on #66
Thank you for your response. Sorry for the delay.

I understand the complexity of the issue. Unfortunately what you suggest wouldn't work for my use case, as it's really for end-users to upload documents which could be viewed in an HTML format on their browser. I might have to implement a solution that would satisfy the most common and simple use, without support for more advanced features like yo

[2016-04-11 02:34] #66 closed

[2016-05-04 03:10] cpmcgrath commented on #48
I think this is the problem I'm experiencing. I run the MarkupSimplifier.SimplifyMarkup, and when I try
to open the resulting document I get an error, "The XML data is invalid according to the schema. Location   Part: /word/styles.xml, Line: 0, Column: 0"

This always happens for me. Even with a brand new document with nothing in it.
Using Word 2016 32bit (16.0.6769.2017)

[2016-05-04 10:25] sara85sara opened #71 "Line is not formatting in converted HTML"
HI,
I am using this dll for converting my word document to HTML files. actually its converting but if there is any drawing line in my word document then the drawing line is not coming in converted html file. Is that bug or should i need to  add any code for that?
kindly let me know.

Thanks,

[2016-05-04 11:00] EricWhiteDev commented on #71
@sara85sara No, this is not a feature of this module.  It would be nice to have, but requires extensive work, and I have not yet had time to address this.  It is not currently on the schedule.

[2016-05-04 12:20] sara85sara commented on #71
Thanks a Eric,  I am able to meet all my requirements using our dll except the line <hr>  issue. It would be helpful if we add this feature.

[2016-05-25 14:30] da-web opened #72 "RevisionAccepter throws Internal error 20, found element {http://schemas.openxmlformats.org/wordprocessingml/2006/main}moveFromRangeStart"
I have a document with a moveFromRangeStart element and when calling the RevisionAccepter.AcceptRevisions method it give me the following error:
Internal error 20, found element {http://schemas.openxmlformats.org/wordprocessingml/2006/main}moveFromRangeStart,    at OpenXmlPowerTools.RevisionAccepter.<AllParaContentIsDeleted>b__9c(XElement ce)
   at System.Linq.Enumerable.WhereEnumerableIterator`1.

[2016-05-31 15:42] gh5692 opened #73 "Converting to HTML and back to WML causes loss of font type on bulleted lists"
[code]

**Libraries used,**

DocumentFormat.OpenXml 2.6.0.0
OpenXmlPowerTools 4.2.0.0
System.Management.Automation 1.0.0.0 (6.1.7601.17515)

**Code to reproduce**

[code]

[2016-06-07 09:27] tesicg opened #74 "The exception: Message=CssParser error: line 1 col 3: invalid identity"
Here's the caller code:

[code]

And we use this CSS file:

[code]

The exception:

[code]

How can we overcome this issue?

[2016-06-14 05:43] cpmcgrath commented on #48
I created a new blank document in Word 2016 32bit, Saved it and made a copy of it.
On both I opened them with the WordprocessingDocument, with one I did a simplify, and then disposed them. Attached are the results. The With Simplify causes the above error when you open it with Word.

[result-NoSimplify.docx](https://github.com/OfficeDev/Open-Xml-PowerTools/files/313220/result-NoSimplify.docx)
[res

[2016-06-14 13:29] asgerhallas opened #75 "Fails when converting html table to docx"
Running this code:

            var result = HtmlToWmlConverter.ConvertHtmlToWml(
                "", "", "",
                XElement.Parse("<html><body><table><tr><td>asger</td></tr></table></body></html>"),
                HtmlToWmlConverter.GetDefaultSettings());

Throws this exception:

[code]

Can anybody help me spot what, I am doing something wrong? :)

[2016-06-17 09:17] njord224 opened #77 "OpenXmlPowerTools.Body Constructor remove escaped characters"
I'm opening a .dotx file and load it into a MemoryStream:

[code]

After that I open the document as WordprocessingDocument and I start doing replacements looking for Merge Fields. I do the replacements in xmlDocXElement (see bellow)

[code]

Before the bug happens all the Special characters are encoded fine, as I use XElement.Parse before including them in the document. But for some reason after

[2016-06-22 15:45] richard-jr-lewis opened #78 "OpenXmlRegex.Replace Tabs Ignored"
When calling OpenXmlRegex.Replace, it is failing to match text correctly when encountering special characters. In my case, I am trying to match against a whole word in a line that is spaced with tabs, but these are ignored by WmlSearchAndReplaceTransform.

`string contents = element.DescendantsTrimmed(W.txbxContent).Where(d => d.Name == W.t).Select(t => (string)t).StringConcatenate();`

Example:

[2016-06-23 12:01] richard-jr-lewis commented on #78
Also appears to occur with line breaks

[2016-06-27 12:08] nojan1 commented on #75
It seems the converter expects that table cells have a width. I was able to get around a similiar problem by adding
`width="auto"`
to every table cell.

[2016-06-29 17:03] nandhu opened #79 "How to handle combine features"
Hi,
thanks for this excellent power tools.
I have one master document and 3 contributor documents. I want to combine all documents one by one and i want to see all changes. I need a feature in word application **Review > compare > combine**. I tried with word.interop its working fine. But I can't expose as service also i need to install word. I tried with both compare examples in power tools. but

[2016-07-01 07:24] japj commented on #22
Hello, it seems there are OpenXML SDK (2.6.0) and PowerTools (4.2.0) Nuget packages published by Ranjith Venkatesh at https://www.nuget.org/profiles/ranjithvenkatesh

Do these happen to be the officially supported nuget packages?

[2016-07-04 11:21] asgerhallas commented on #75
@nojan1 thanks! In my case it was solved by not nesting text nodes directly inside `<td>`, but using `<td><span>some text</span></td>` instead.

[2016-07-04 11:21] #75 closed

[2016-07-05 08:07] ghost opened #80 "OpenXmlRegex.Match returns zero or error"
(I may have misunderstood the correct way to use this but I could find the appropriate documentation or figure it out from code comments)
If I use `OpenXmlRegex.Match` on a set of elements of type `W.p`  I get correct results but if I try other element types I do not. Example code:

[code]

The [FormattedText.docx](https://github.com/OfficeDev/Open-Xml-PowerTools/raw/vNext/NewDocxDocuments/Formatt

[2016-07-08 14:31] MDendura commented on #42
This would be really useful. Has anyone had any further thoughts on this?

[2016-07-13 15:48] ryanlin1986 opened #81 ".Net Core Support?"
Since .Net Core is released, and it's the future, I'm wondering when will this library going to support .Net Core?

[2016-07-13 20:47] tugend opened #82 "ChartUpdater output corrupt documents for Combo Charts"
Given a word document with a single combo chart with a Line and an Area series outputs a corrupt    document. The ChartUpdater seems to have trouble with the notion of <c:ser>tags being nested in both <c:areaChart> and a <c:lineChart> tag block.

[code]

[2016-07-29 23:49] porkopek commented on #78
Which is your replacement string? Are you able to replace the content with a regex pattern? Like a capturing group? In my case, if I write "$1" in the replacement, I expect to get the first capture group, but I'm getting "$1" literal.

[2016-08-01 15:50] richard-jr-lewis commented on #78
My issue occurs with how the Power Tools have trimmed the matching text, such that a standard regex string will not work. I did have some minor success with non-capturing groups and hardcoded text for it to look out for, but I ran in to other match issues. It then turns into a regex nightmare.

In regards to your issue with $1 and after reading through WmlSearchAndReplaceTransform, it appears to c

[2016-08-01 16:33] richard-jr-lewis commented on #80
I tried similar when I began using the ` OpenXmlRegex` class and came to the same conclusion.

The problem appears to be that `WmlSearchAndReplaceTransform` almost immediately checks for `if (element.Name == W.p)`, where the main computation occurs. Although there is another path for `W.r`, this is likely only intended to be entered recursively as it evaluates the passed in `W.p`

For my purposes,

[2016-08-22 16:29] vdeo1 opened #83 "DocumentFormat.OpenXml.dll V2.6.0.0 not having the publickeytoken"
PS C:\Users\vaibhavd> [system.reflection.assembly]::loadfile("C:\Users\vaibhavd\AppData\Roaming\Skype\My Skype Received
Files\ConsoleApplication1\packages\OpenXMLSDK-MOT.2.6.0.0\lib\DocumentFormat.OpenXml.dll")
Exception calling "LoadFile" with "1" argument(s): "This assembly is built by a runtime newer than the currently loaded
 runtime and cannot be loaded. (Exception from HRESULT: 0x8013101B)"

[2016-08-24 14:48] kimsey0 opened #84 "DocumentBuilder merges numbering definitions referencing the same abstract numbering definition"
When building a document, `DocumentBuilder` merges [numbering definition instances](https://msdn.microsoft.com/en-us/library/documentformat.openxml.wordprocessing.numberinginstance.aspx) referencing the same [abstract numbering definition](https://msdn.microsoft.com/en-us/library/documentformat.openxml.wordprocessing.abstractnum.aspx). This leads to bugs if the numbering definitions contain [numbe

[2016-08-24 21:34] fynman opened #85 "text in front of <Repeat Select="..."/>"
Dear,

  Is it possible to add text in front of a _Repeat Select_

  The text I'd like to generate, should look like:

text_in_front element_1 element2

Thanks,
Bart

[2016-08-25 14:07] GarthMartin commented on #52
I have the same issue and running with CultureInfo(1033) does not work.  Is there any workaround for this?

[2016-08-25 15:14] BogdanDamianC commented on #52
In this case I think it also depends on the actual html content. Are all the css styles valid ? If one is not than this can happen.

I've ended up changing the default implementation to let me choose to bypass the css errors when the html content comes from an external source you can try it out

https://github.com/BogdanDamianC/Open-Xml-PowerTools

code looks like this
[code]

[2016-08-26 14:03] GarthMartin opened #88 "HtmlToWmlConverter throws Duplicate attribute error"
I am trying to convert several HTML documents to WML and am getting the Duplicate attribute error in the `TransformToLower(XNode node)` method when I have a node that contains both lang and xml:lang attributes.  According to the XHTML spec, both attributes may appear.

Do I need to strip out one of the 2 in order for this to work properly?

Thanks

[2016-08-26 15:15] GarthMartin opened #89 "Issue with conversion of content in <dl><dd> tags"
When converting content in <dl><dd> tags the HTML converter appears to be adding a lot of extra linefeeds to the content of the elements.  For example the following HTML :
`<dt>g. <strong>'double time'</strong></dt>
<dd>means twice (2) the straight-time hourly rate (<span lang='fr'>tarif double</span>),</dd>`

will get generated into WML like this:

g.
'double time'
means twice (2) the straight-ti

[2016-08-26 16:00] GarthMartin opened #90 "Issue merging documents"
I am getting a `Sequence contains no elements` error when trying to merge 2 documents.  One is a static docx and the other is a new document that was generated via the HtmlToWmlConverter.  It seems similar to this issue logged on openxmldeveloper.org before it was shut down.

[http://openxmldeveloper.org/discussions/development_tools/f/17/p/7786/163270.aspx](http://openxmldeveloper.org/discussions

[2016-08-30 13:33] GarthMartin commented on #52
I was able to narrow this down to a css definition for a table width of 100%.  Changing it to auto resolved the issue.

[2016-08-30 13:52] GarthMartin commented on #90
I have narrowed this down to the merging of list styles in the 2 documents.  Our HTML has several list styles defined and when merged the style does not have a value on the w:nsid element which is throwing the error on line 1509 of DocumentBuilder.cs:

`  string abstractNSID = abstractElement
                            .Elements(W.nsid)
                            .First()

[2016-09-06 05:51] MaitreDede commented on #21
Hi @EricWhiteDev  :)

I would like to know if you have plans for rasterizing. I have been searching for days, but only expensive commercial products so far...

[2016-09-09 14:52] kimsey0 opened #91 "DocumentBuilder doesn't adjust DocProperties ids of elements in headers or footers"
When building a document, after appending each source, `DocumentBuilder` adjusts the unique [`DocProperties`](https://msdn.microsoft.com/en-us/library/documentformat.openxml.drawing.wordprocessing.docproperties.aspx) ids of all elements (for example images) in the document. However, the `DocProperties` ids of elements in headers and footers, which are added to the output document after appending a

[2016-09-21 07:29] michel49 opened #93 "Some cells are removed when accepting revisions although the document has no revisions"
I' using Open-Xml-PowerTools-vNext (4.3) and more specifically RevisionAccepter.cs (version 2.6.00) coupled with Open-XML-SDK-vNext (2.6.1) under Mono 4.2 SR2 (4.2.3.4).
Although the document has no revisions to accept some cells are removed when running AcceptRevisions on it.
I have attached the document before accepting revisions [EFR.docx](https://github.com/OfficeDev/Open-Xml-PowerTools/files/

[2016-10-14 13:42] felixcen opened #94 "The referenced assembly 'OpenXmlPowerTools, Version=4.2.0.0, Culture=neutral, PublicKeyToken=null' does not have a strong name."
Hi,

We are trying to use the package from nuget, but we are getting the strong name error. Could you please provide a signed version of it?

Thanks,

[2016-10-20 12:34] koyote opened #95 "DocumentBuilder using InsertId does not support inserting into Headers/Footers"
When using the DocumentBuilder in conjuction with the InsertId option the insertion into Headers and/or Footers is not supported.

Is this something that is planned to be support at some point?

[2016-10-23 13:44] LaurentDardenne opened #96 "Parsing error with cmdlets script"
This files contains syntax error :

[code]

This files return Warning for the rule _PSPossibleIncorrectComparisonWithNull_ :

[code]

Is this code correct ?

[2016-11-09 03:58] abin103 opened #97 "how to Transform header and footer"
How to Transform the word's header, footer into HTML pages, there is no such code, thank you

[2016-11-09 16:06] astromediaonly opened #98 "WmlToHtml Input string was not in a correct format."
Hi, im trying to convert word document to html but HtmlConverter.ConvertToHtml failing on "Input string was not in a correct format." exception. Is it bug or is there some way hot to avoid that?

[stackTrace.txt](https://github.com/OfficeDev/Open-Xml-PowerTools/files/581280/stackTrace.txt)

NuGet:
DocumentFormat.OpenXml         2.5
OpenXmlPowerTools              4.5.3.0

[2016-11-30 05:20] ocdi opened #99 "SpreadsheetWriter with multiple sheets produces invalid output"
I'm trying to produce a workbook that contains multiple sheets. This works, however I get an error when loading using Excel 2016 "We found a problem with some content". The recovery appears to have all the contents, but the error is confusing to users who would receive these files.

This is my test case that generates this. Am I doing something wrong or is creating multiple sheets like this not su

[2016-11-30 06:08] ocdi commented on #99
I just observed that Excel appears to be complaining about the Tables:

`Repaired Records: Table from /xl/tables/table2.xml part (Table)`

I just had the realisation that the by not specifying a TableName it seems to work OK. Not sure if this is a bug or just not intended, however Excel does seem to be able to have multiple tables in it so I suspect this should be supported. In the short term I ca

[2016-12-03 16:32] ThomasBarnekow commented on #78
@richard-jr-lewis and @porkopek, I have just created a PR that enhances OpenXmlRegex to allow for replacement patterns. Previously, it simply replaced the matches with a fixed string.

I want to look into tabs and line breaks as well.

[2016-12-05 09:07] ThomasBarnekow opened #101 "Unit test OxPt.HwTests.HW001 fails for T1020.html"
The test fails with the following exception message:
[code]
The exception is thrown in the last line of the following three lines of code, which can be found within the `AddNonBreakingSpacesForSpansWithWidth(WordprocessingDocument wDoc, XElement body)` method.
[code]
The reason is that `numberOfNpSpToAdd` is a negative number.

[2016-12-06 13:21] ManoShu opened #102 "Using MarkupSimplifier.SimplifyMarkup on Word 2013/2016 files generate invalid styles.xml file"
Hello,

i am posting here the issue I posted on [Eric's forum](http://ericwhite.com/blog/forums/topic/simplifymarkup-saved-file-corrupted/), so that maybe someone else had that problem.

When opening a Word document that was created on versions 2013 and 2016, using the MarkupSimplifier.SimplifyMarkup method with NormalizeXml marked as true,saving it as-is and finally opening it on Word itself will

[2016-12-06 16:40] ManoShu commented on #102
I added the missing tags from the newer versions of Word to the list on each namespace attribute list that i located. Please review it and check if there's nothing wrong if this change.

[2016-12-18 15:02] quails4Eva commented on #102
Same issue as here #48
@ManoShu Thanks for submitting the fix, it looks more complete than the temporary workaround I used when dealing with this issue. Hopefully it gets merged soon and I won't have to keep using my custom build.

[2016-12-29 09:12] #81 closed

[2016-12-29 09:13] ryanlin1986 commented on #81
Thanks @jawn  for the information.

[2017-01-06 17:31] tomjebo opened #105 "Problem with templates and search & replace"
Opening here for the SDK issue:
[https://github.com/OfficeDev/Open-XML-SDK/issues/131](url)

[2017-01-06 17:40] hervethouzard commented on #105
Thank you for the transfert, sorry for the use of the bad project.

[2017-01-06 17:42] tomjebo commented on #105
No problem and if we find that there's an actual SDK problem, we'll take it up there. Thanks for bringing this to our attention.

[2017-01-06 17:56] TBCarlosPombeiro opened #106 "Pivottable data value subtotal is always sum"
The AddDataValue method in WorksheetAccessor class doesn't accept a subtotal function. By default the spreadsheet will use sum.

Changing
[code]
to (example)
[code]
 will work?!

[2017-01-06 18:53] tomjebo commented on #22
Closing #22.

We now have a nuget package available on the myget feed. See:
[https://github.com/OfficeDev/Open-XML-SDK#ci-builds](url)
for instructions on how to access.

[2017-01-06 23:31] gabisandor commented on #22
@tomjebo you are referring to an Open XML SDK NuGet package, not an Open XML PowerTools one. I don't think there is an official one available for the power tools yet.

Gabriel

From: "tomjebo" <notifications@github.com>
To: "OfficeDev/Open-Xml-PowerTools" <Open-Xml-PowerTools@noreply.github.com>
Cc: "Gabriel Sandor" <gabriel.sandor@evozon.com>, "Comment" <comment@noreply.github.com>
Sent: Friday,

[2017-01-07 23:50] tomjebo commented on #22
@gabisandor yes, I realized that after posting. that's why I deleted it. Sorry.

[2017-01-17 09:52] raphacp opened #107 "The RemoveRsidInfo option of SimplifyMarkupSettings does not work on Strict Open XML Word documents."
The RemoveRsidInfo option of SimplifyMarkupSettings does not work on Strict Open XML Word documents.
The document.xml file is untouched. No lines in the document.xml file are modified.

[2017-01-17 18:09] EricWhiteDev commented on #107
@raphacp yes, you are right.  The Open-Xml-PowerTools have only been tested mainly on transitional documents, although I have used the Open-Xml-Sdk to convert from strict to transitional, and then used the Open-Xml-PowerTools on them.  I suggest you take this approach.  Supporting strict isn't an activity that is currently scheduled, unfortunately.

[2017-01-17 18:09] #107 closed

[2017-01-17 18:13] EricWhiteDev commented on #88
@GarthMartin This may be a bug in the LINQ to XML library.  I have seen other bugs in the LtX lib with regards to duplicate attributes.  I have seen this in multi-threading scenarios.

I recommend striping out one of the two, and seeing if it works.

[2017-01-17 18:13] #88 closed

[2017-01-17 18:15] EricWhiteDev commented on #72
@da-web If you post a sample document that causes RevisionAccepter to throw, I'll take a look at it.

[2017-01-17 18:15] #72 closed

[2017-01-17 19:47] raphacp commented on #107
I followed your suggestion, and converted from strict to transitional, to be able to use the Open-Xml-PowerTools functionality, then back to strict.
I'll be praying, so that one day the Strict Open XML support be placed on the agenda of Open-Xml-PowerTools.
Unfortunately I do not have enough knowledge about XML transformation to update the code. But I suppose it's a matter of Strict Open XML names

[2017-01-19 06:35] manikantad opened #108 "compare two word documents and generating the changes not working"
while comparing document facing issue .
 i got 2 issues for different files
for document 1.file unsupported :document contains text boxes.
for document 2.: file contains correpted data.

can you please help me to get a solution for this.
![img-0 2](https://cloud.githubusercontent.com/assets/22674966/22096082/92cf1bf4-de3f-11e6-8a1f-9710100ef20a.png)

[2017-01-27 17:43] CarlLanglais opened #109 "SpreadsheetWriter loses cell formats for second worksheet"
I've adapted your example to write out one worksheet with large data to be able to do multiple worksheets from multiple Lists in a List of Lists holder I created and DataTables stored within a DataSet.  The bug I've run into is that if a DataType does not exist on the first Worksheet, then the format style for that DataType does not get saved out to the Styles XML.

For instance, we default our Da

[2017-01-27 22:33] iivel commented on #108
I ran into this on a project I'm converting from Interop as well. Shut that down in its tracks.  You'll note that it's specified as unsupported "for now" in the code.

        // prohibit
        // - altChunk
        // - subDoc
        // - contentPart
        // - text boxes and nested tables (for now)
        private static void TestForInvalidContent(WordprocessingDocument wDoc)

Any word on g

[2017-01-28 14:02] EricWhiteDev commented on #108
@manikantad @iivel

Hi Guys, fixing this is (most probably) in the near future.  The algorithm that the module takes is one I devised after seeing the intrinsic problems with the stock LCS algorithm for content that contains both paragraphs and tables/rows/cells.  (Embedded text boxes is a degenerate, simpler case of block-level content that can contain block-level content.)  Having this module be

[2017-01-28 16:12] iivel commented on #108
@EricWhiteDev

Thanks Eric. This is an awesome project and I certainly appreciate your efforts on it.  FWIW, my approach is based on trying to replicate the output of the interop-based application I need to replace.

http://levii.com/47/merging-more-than-2-ms-word-documents-what-a-pain

As far as the algorithm I was looking at (after the WmlComparer does it's thing) I do have a nearly exact match

[2017-01-30 18:32] CarlLanglais commented on #58
Not sure if you found a solution, but this was adapted from the OpenXmlDeveloper.org example, so maybe it'll help you or someone else with this issue now.  The code below output 300K items with 4 fields, which is 1.2M cells of data, to a file in 4.3 seconds.  My memory load went from 42MB, which was data created to a List<T> and put into an IEnumerable<T>, to 108MB by end of SpreadsheetWriter.Writ

[2017-01-31 16:12] kimsey0 commented on #65
The fix for the SDK that added MP4 to `MediaDataPartType` seems to have been delayed. It was merged, but reverted again to get v2.7 released. OfficeDev/Open-XML-SDK#84

Could we just avoid using `MediaDataPartType` by calling the overload of `CreateMediaDataPart` that takes a content type string and a file extension?

[2017-02-05 04:11] tomjebo commented on #65
@kimsey0 Sorry for the delay in responding. Yes, we did add this and then revert. Now that 2.7.1 is done, we will add this fix back in. A PR will likely be submitted next week. Thanks for asking.

[2017-02-05 12:12] kimsey0 commented on #65
@tomjebo: I haven't seen @EricWhiteDev online for the last half year. Do you know how to get in contact with him, or is there someone else who could review and merge pull requests like #110 (and #86 and #92)?

[2017-02-05 18:40] tomjebo commented on #65
@kimsey0 we (my team) have been focusing on the SDK repo but are now starting to review the issues an pull requests on this one. Eric is no longer officially working on the project and my team will review and merge PRs in his place.

[2017-02-05 18:48] kimsey0 commented on #65
@tomjebo: Fantastic. We can't wait to get some get some of the bugs we've been experiencing out of the way.

[2017-02-09 08:02] 3bm opened #111 "Trouble with Import-Module, no System.IO.Packaging.dll"
First raised the issue here: https://github.com/OfficeDev/Open-XML-SDK/issues/163

Tried to follow the build instructions, but trying to Import-Module Open-Xml-PowerTools returns this error:

 ments\WindowsPowerShell\Modules\Open-Xml-Sdk\DocumentFormat.OpenXml\bin\debug\System.IO.Packaging.dll' because it does
 not exist."
 At C:\Users\macer\Documents\WindowsPowerShell\Modules\Open-Xml-PowerTools\

[2017-02-13 10:48] 3bm commented on #111
Oops, might have used the wrong branch, switched to the master branch on both projects and have no issues anymore.

[2017-02-13 10:48] #111 closed

[2017-02-13 16:42] twsouthwick opened #112 "Pull OpenXML library in via NuGet"
Now that the OpenXML library is available via a NuGet feed, this project can be updated to not require the OpenXML library repo to be side-by-side for building.

[2017-02-16 11:01] hervethouzard commented on #105
Original post seems lost, here it is:

Hello,

I have a template document (modele.docx) with some content and let say, 3 special texts inside, like this:
{document1}
{document2}
{document3}

They represent the name of the file I have to insert content from (document1.docx, documen2.docx and document3.docx)

With the help of the video you suggested me (http://ericwhite.com/blog/advanced-use-of-docu

[2017-02-16 16:46] Will-Gregg commented on #45
Issue has dependency on #42

[2017-02-16 17:08] Will-Gregg commented on #58
We recently released v2.71 of the SDK which fixes a memory management problem OfficeDev/Open-XML-SDK#110. This does not address the request for a 'streaming' load/save of content, but may assist in dealing with larger files.

[2017-02-16 17:14] Will-Gregg commented on #65
@Josh checked in a fix for support for MP4 media in the SDK as part of the v2.71 release. OfficeDev/Open-XML-SDK#84. Please try using the latest SDK and see if it addresses this issue.

[2017-02-16 17:18] Will-Gregg commented on #67
This functionality is related to the request in #26 to be able to convert arbitrary OXML snippets to HTML.

[2017-02-16 17:49] Will-Gregg commented on #83
Related to #9. With release of the SDK v2.7 DocumentFormat.OpenXml.Dll is strong named and has a public strong name key available. We will integrate this with PowerTools in the near future.

[2017-02-16 18:02] Will-Gregg commented on #97
Duplicate of #95

[2017-02-16 18:06] Will-Gregg commented on #98
@astromediaonly would it be possible for you to provide the source document in order to try and debug this more thoroughly?

[2017-02-16 19:04] CarlLanglais commented on #58
Sorry about missing the stream part.  We are actually trying here ourselves to see if we could get the SpreadsheetWriter.Write() to return a stream instead of void.

Again sorry for the partial answer.

[2017-02-17 08:40] astromediaonly commented on #98
[Принт договор.docx](https://github.com/OfficeDev/Open-Xml-PowerTools/files/782647/default.docx)

@Will-Gregg this one is throwing that exception, hope it helps ... i have almost forgot after that much time :)

[2017-02-23 21:42] kimsey0 commented on #65
@Will-Gregg: I can't seem to find the fix you refer to. There is still no mention of MP4 in `MediaDataPartType` (nor anywhere in the code base for that matter).

Also, do you know who could give us a timeline on the reviews of #114 and #92 (and possibly #110, which would completely remove the dependency of Open XML PowerTools on `MediaDataPartType`).

[2017-02-23 21:48] kimsey0 commented on #22
@tomjebo: Now that the Open XML SDK is available on MyGet, could the PowerTools be published there as well? Could we contribute to making that happen from outside Microsoft?

[2017-02-23 22:10] tomjebo commented on #22
@kimsey0 We like the suggestion of approved contributors being able to push to NUGET. We need to do some research into what that entails. Thank you for bringing it up.

[2017-02-23 22:35] kimsey0 commented on #22
@tomjebo Just having an official package on NuGet would be wonderful, no matter how updates were pushed to it. I expect you have a CI system that builds and packages the SDK for https://dotnet.myget.org/gallery/open-xml-sdk. What I was thinking of was if we could do anything to prepare the PowerTools repository for going through the same process?

[2017-02-24 20:16] tarunchopra commented on #112
We have a PR for this one: #113

[2017-03-02 22:23] anupamanair opened #115 "Stylename not added to paragraphs with list items"
I encountered this issue while converting word documents to HTML.
For paragraphs with list items, the style name attribute is not being added to the object being returned. The default does add the style name.

![image](https://cloud.githubusercontent.com/assets/13037378/23529710/d5e3ad28-ff5b-11e6-86ca-f427522da172.png)

I have created a pull request and pushed my code fix. Pl merge after review.

[2017-03-02 22:23] anupamanair commented on #115
Document used for above issue -

[Test Document.docx](https://github.com/OfficeDev/Open-Xml-PowerTools/files/815253/Test.Document.docx)

[2017-03-05 12:24] ant-s opened #116 ".NET Core support"
I'm coming at this from a Linux background so let me know if I've got this totally wrong, but Open-Xml-SDK now supports .NET Core (https://github.com/OfficeDev/Open-XML-SDK/issues/168) and it would be great if PowerTools did too to allow for it to be run on other platforms. I think this cross-platform adoption is closely aligned with the goals of Open XML being open source.

I ran ApiPortAnalysis

[2017-03-14 15:38] Lfwinster opened #117 "PresentationBuilder issue with Telerik Reporting rendered PPTX files"
When merging pptx files rendered from telerik reporting framework

slide.SlideLayoutPart.GetXDocument().Root.Element(P.cSld).Attribute(NoNamespace.name).Value will return null reference exception.

The pptx file itself only has on blank layout in master slide called Telerik Theme.

I don't know open xml too well but breaking the
foreach (SlideLayoutPart layoutPart in currentMasterPart.SlideLayoutP

[2017-03-17 00:39] twsouthwick commented on #112
@tarunchopra Next time, if you add the phrase "Fixes #112" it would automatically close the issue when completed.

[2017-03-17 00:39] #112 closed

[2017-03-17 00:40] twsouthwick commented on #116
The big ones missing are `System.Drawing` types. Depending how pervasive they are, and what they are used for, it may be doable.

[2017-03-17 03:25] EricWhiteDev commented on #116
System.Drawing is used in WmlToHtmlConverter (and a couple of other places IIRC) for getting font metrics.  In my experiments, it was the most accurate for determining font metrics.  I'm sure that there are some sort of capabilities for getting font metrics in COREFX, but I haven't researched it.  In my experience with .NET, there were issues of accuracy with each of the means to get font metrics,

[2017-03-17 16:36] tomjebo commented on #117
@Lfwinster please feel free to implement the fix on your branch, test and submit a PR.

[2017-03-24 17:47] catsgotmytongue opened #119 "After calling DocumentBuilder.BuildDocument Empty Headers/footers change spacing of document."
When building a set of sources with DocumentBuilder the headers and footers added are essentially empty paragraphs that change the spacing of the final document in the header or footer by having additional line breaks in what the end user sees.

I think there should be additional ways to add/update headers or footers in the DocumentBuilder.

My suggestion would be to have an overload for markup to

[2017-03-24 20:09] catsgotmytongue opened #120 "Setting KeepSections and DiscardHeadersAndFootersInKeptSections on a source to true throws exception 'Parameter cannot be null'"
`AddReferenceToExistingHeaderOrFooter()` throws exception 'Parameter cannot be null' in the call to `XAttribute`'s Constructor during the `CopyOrCacheHeaderOrFooter()` method with some documents.

Here's a partial stacktrace:
[code]

The cause seems to be in `CopyOrCacheHeaderOrFooter()` where the `referenceElement` is not really in the section being processed and then tries to get an element from

[2017-03-31 21:13] jmhmaine opened #121 "Could not load file or assembly 'System.IO.Packaging, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' or one of its dependencies. The system cannot find the file specified."
If you upgrade the OpenXMLSDK-MOT dependency from version 2.6.0 to 2.6.1, the following runtime error is thrown:

Also, it appears that the OpenXMLSDK-MOT dependency has moved to MyGet and is on version 2.7.1:
https://dotnet.myget.org/feed/open-xml-sdk/package/nuget/DocumentFormat.OpenXml/2.7.1

Are there plans to update to update to support OpenXMLSDK-MOT version 2.6.1 or using the MyGet version?

[2017-04-02 12:15] ThomasBarnekow opened #122 "RemoveElementsForDocumentComparison causes NullReferenceException"
The `RemoveElementsForDocumentComparison` method of the `MarkupSimplifier` class causes a `NullReferenceException` in case a Word document does not contain the optional `ExtendedFilePropertiesPart` or `CoreFilePropertiesPart`.

The exception is actually thrown by the `GetXDocument` method of the `PtOpenXmlExtensions` class. This method also catches an `Exception` and just throws it again. However,

[2017-04-03 09:32] hervethouzard commented on #105
Hello,

Any news?

[2017-04-06 20:18] jeffklawiter commented on #121
I have also run into this, ended up reverting back to 2.6.0.

[2017-04-06 21:35] JoshZA commented on #116
👍

[2017-04-14 21:04] ThomasBarnekow opened #128 "RemoveRsidInfoInSettings causes NullReferenceException"
The `MarkupSimplifier.RemoveRsidInfoInSettings(WordprocessingDocument)` method throws a `NullReferenceException` in case a `WordprocessingDocument` has no `DocumentSettingsPart`.

A `DocumentSettingsPart` is not mandatory. Therefore, the method should simply ignore non-existent `DocumentSettingsPart`s.

[2017-04-14 21:50] ThomasBarnekow opened #129 "Issues when working with strongly typed classes of Open XML SDK"
When using the Open XML PowerTools in conjunction with the strongly typed classes provided by the Open XML SDK (e.g., `Document`, `Paragraph`, or `Run`), users might run into unexpected issues.

Firstly, there is an issue when using the strongly typed classes after having used the PowerTools, e.g., the `MarkupSimplifier`. When the `PtOpenXmlExtensions.PutXDocument(OpenXmlPart)` method and its over

[2017-04-14 22:03] ThomasBarnekow opened #130 "RemoveCustomXmlAndContentControlsTransform does not produce desired result"
The `RemoveCustomXmlAndContentControlsTransform(XNode, SimplifyMarkupSettings)` method is supposed to remove `w:sdt` and `w:smartTag` elements and only leave the respective content, if the `SimplifyMarkupSettings.RemoveContentControls` and `SimplifyMarkupSettings.RemoveSmartTags` properties are `true`.

However, the method does not produce the desired result, which is due to the fact that it never

[2017-04-15 07:32] ThomasBarnekow commented on #129
@EricWhiteDev, my current PR provides features that help combine different methods of working with an `OpenXmlPart`'s contents. To completely fix it, you would have to get rid of the caching done in the `GetXDocument` and `PutXDocument` methods. However, that would mean you'd have to touch a good number of utilities in the PowerTools which depend on it.

[2017-04-15 07:39] ThomasBarnekow commented on #128
@EricWhiteDev, my current PR fixes that issue.

It seems the PowerTools expect documents created by Microsoft Word, i.e., documents with a number of parts that Microsoft Word creates even for "empty" documents, which, however, are not actually required for valid `WordprocessingDocument`s. The PowerTools then don't check whether those parts exist before accessing them.

I ran into those issues in u

[2017-04-15 07:41] ThomasBarnekow commented on #122
The second reference to this issue from a commit is due to a rebase. It is the same fix.

[2017-04-17 00:30] #78 closed

[2017-04-17 00:30] #101 closed

[2017-04-17 00:30] #122 closed

[2017-04-17 00:30] #128 closed

[2017-04-17 00:30] #129 closed

[2017-04-17 00:30] #130 closed

[2017-04-20 02:36] linxkulit commented on #121
This project requires to sign the project with certificate (.snk or .key) on build.
Also the stable v.4.5.3.1 need to match the assembly version on build, as it reflects the old v.4.5.3.0.

[2017-04-23 16:31] MarkKharitonov opened #137 "OutOfMemoryException for a docx document."
HI,
The document is 4,570,883 bytes long. It has more than 3,000 tables in it (the document is mostly tables).
Here is the stack trace:

 	mscorlib.dll!System.IO.MemoryStream.Capacity.set(int value) + 0xad bytes
 	mscorlib.dll!System.IO.MemoryStream.EnsureCapacity(int value) + 0x53 bytes
 	mscorlib.dll!System.IO.MemoryStream.Write(byte[] buffer, int offset, int count) + 0xd1 bytes
 	System.IO.Comp

[2017-04-23 16:37] MarkKharitonov commented on #137
Actually, unchecking **Prefer 32 bits** in the project settings solves it. So, all is good.

[2017-04-23 16:37] #137 closed

[2017-04-24 03:47] flashlib opened #138 "How to split word document by section?"

[2017-05-09 08:30] ManoharRT opened #140 "Issue with listnumber track changes"
Hello,

I have turned on the track changes(Revisions) option in word and made some changes and found all the track changes were being tracked and found all track changes in the openxml content. but i am not seeing the deleted listnum value in openxml content and the listnum values are continued from the next paragraph. so how can I track/get the deleted listnum value in openXml.

For example- If I

[2017-05-11 13:41] namem6001 opened #141 "Issue with merging big presentations"
When I try to merge big presentations(more than 200Mb) I see OutOfMemory exception in the method CopyRelatedMedia, line 1337 newPart.FeedData(oldPart.GetStream());
I changed to newPart.FeedData(oldPart.GetStream(FileMode.Create)); and presentations are merged but video in merged presentation is not play

[2017-05-11 15:48] namem6001 commented on #141
Recompile dll without checkbox Prefer 32 bits, after it merge work fine without any code changes

[2017-05-11 15:48] #141 closed

[2017-05-13 13:03] mapo80 commented on #42
Any news for this feature?

Thx.

[2017-05-15 19:26] MatthewMcD opened #143 "Unable to run any PowerShell Cmdlets"
I am really struggling here.
I cloned both Open-XML-SDK and Open-XML-PowerTools.
I compiled the Open-XML-SDK
I tried
`Import-Module .\Open-XML-PowerTools.psm1` and I get:

I fixed the paths by adding "\net46\ to the debug dll locations in AddTypes.ps1 Now the Import-Module works without error. When I try any cmdlet like the example:
`New-Docx Out-2.docx -Comment`
I get:

Does the PowerShell work f

[2017-05-15 19:45] MatthewMcD commented on #143
Fixed another path issue and now when trying to import the module I get:

[2017-05-17 18:57] MrMilo opened #144 "Converting list from HTML to WML problem"
When I try to convert a list like:

[code]

it's suppose to show number then bullet, but after export it show number for both first level and second level, what's the problem here?

P/S: using PowerTools 4.5.3.1, and `ConvertHtmlToWml` , the code I use to convert is exactly the same as per example

[2017-05-22 09:13] mohankumardb opened #147 "PowerTools Support for .netcore"
PowerTools doesnt work with .net core. are there any plans to support .netcore

[2017-05-27 08:50] cclelio commented on #116
Do you know about the .Net core compatible library "SixLabors" ?
It gives you a TextRenderer class as used in WmlToHtmlConverter.

Do you think it could be doable to use this library to make your own compatible with .net core ?

[2017-06-02 12:05] denza opened #149 "Problem copying charts"
[Method CopyChartObjects](https://github.com/OfficeDev/Open-Xml-PowerTools/blob/vNext/OpenXmlPowerTools/DocumentBuilder.cs#L1962) in DocumentBuilder is expecting EmbeddedPackagePart, which is for most of the time working as expected. I have docx file with chart of type EmbeddedObjectPart.

I am not sure is it error since there is code above copy chart area which handles O.OLEObject.

[2017-06-05 23:39] easmithy opened #150 "DocumentAssembler <#...#>-style content controls: bugs when handling lastRenderedPageBreak and multiple controls in a single paragraph, and their suggested fixes"
I have found two bugs with the <#...#>-style "content controls".

In the first bug, a lastRenderedPageBreak element that happens to fall within the XML markup for a content control can force the incorrect rendering of the control.  I believe this is because it confuses the OpenXmlRegex.Replace routine.

In the second bug, a single paragraph with multiple <#...#>-style controls can be incorrectly r

[2017-06-09 15:08] luizfbicalho commented on #45
Any news on this issue?

[2017-06-09 21:09] luizfbicalho commented on #42
Hi, I made one example that updates images, but I'm not sure that it's the best way to do it
@EricWhiteDev Can you see if it heps the issue?

[DocumentAssembler.zip](https://github.com/OfficeDev/Open-Xml-PowerTools/files/1065248/DocumentAssembler.zip)

[2017-06-23 10:12] juanperezADD commented on #42
@EricWhiteDev
We are very interested in this new feature. We wonder if there is a plan to include it this year.

Thank you in advance.

[2017-06-28 07:57] Suriman commented on #116
There are some alternatives that implement System.Drawing and that could be referenced by Open XML PowerTools:

•	https://www.nuget.org/packages/CoreCompat.System.Drawing/1.0.0-beta001
•	https://github.com/JimBobSquarePants/ImageSharp

But ideally, .NET Core will support 100% of the System.Drawing APIs.

[2017-06-28 09:05] alexdrl commented on #116
Also, there is a System.Drawing.Common package that will be created, and will be compatible with the existing `System.Drawing` APIs in Windows.

https://github.com/dotnet/corefx/issues/20740

[2017-06-29 17:49] daniel-white opened #154 "Appveyor builds"
Hi.

I'm trying to build using AppVeyor in our fork. `vNext` seems to have a problem resolving the Nuget package for the vNext of the SDK. `master` seems to be attempting to use the latest sdk but fails to find `System.IO.Packaging`. Any guidance would be appreciated.

[2017-07-01 15:36] ajan1966 opened #155 "Bug in UnicodeMapper"
Line 78
`.Where(e => StringifiedRunElements.Contains(e.Name))`
should be changed to
` .Where(e => e.Name != W.rPr)`
because as it is, only the Elements in StringifiedRunElements are handled, an the other elements are ignored (and not transferred into  U+0001. That leads to difference in String vs. Runs, so that the text gets replaced at incorrect position.

[2017-07-03 11:50] MrSaints commented on #144
You're missing some closing tags, i.e. `</li>`, and `</ol>`

[2017-07-03 12:40] MrMilo commented on #144
@MrSaints just noticed there's a typo, the actual code that I used to convert is:

[code]

It render correctly when I export a list where first level are <ul> and second level are <ol> though.

[2017-07-03 14:13] daniel-white opened #156 "PowerToolsBlockExtensions.BeginPowerToolsBlock calls nonexistent Save method"
I'm trying to understand where the `Save` method is coming from off of `OpenXmlPackage`. Its been commented out in the SDK repo.

https://github.com/OfficeDev/Open-XML-SDK/blob/vNext/DocumentFormat.OpenXml/src/Framework/OpenXmlPackage.cs#L555

When I comment out the call to `Save`, it fails a bunch of tests.

[2017-07-06 12:46] juanperezADD opened #157 "DocumentBuilder: Merge documents with header section"
We have a technical question about merging documents. We want to combine multiple documents, each one with a different header, in one document with a header that is a merge of the others documents.

Here is an example:

-	Company document: This is a document that we want to reuse in multiple documents. It contains in its header the company name and common information.

-	Report document: This docu

[2017-07-09 09:50] juanperezADD commented on #95
Any news?

[2017-07-11 07:35] Tseko opened #158 "NullReferenceException When HtmlConvertert.ConvertToHtml"
Hi All,

Thank you for your amazing set of tools which is in help for so many people, including me. Great work.
I have a small problem converting simple .docx file to html with your tool.
This is the code which I am using:

[code]
A first chance exception of type 'System.NullReferenceException' occurred in OpenXmlPowerTools.dll
An exception of type 'System.NullReferenceException' occurred in OpenX

[2017-07-11 12:14] koyote opened #159 "DocumentBuilder: ImagePart is multiplied which results in potentially massive document"
Hi,

This is a simple bug to reproduce:

1. Create a document and insert a picture (I like the penguin one in the 'Sample Pictures' folder :))
3. Copy/Paste this picture several dozen times in the same document.
4. Save document as "TheDocument.docx". The document should be just slightly larger than the picture.
5. Run the following code:

[code]

6. TheOutput.docx will be as many times larger tha

[2017-07-11 12:44] koyote commented on #159
As a potential fix I found the following:

[code]

If you comment out:
[code]
It works fine.

I am not sure what the original purpose of that line is (in the case above it is comparing the MainDocumentPart to the ImagePart, so always true) so have not filed a pull request.

[2017-07-11 13:18] #158 closed

[2017-07-11 13:19] Tseko commented on #158
I've installed latest version and I am using this now:
[code]

BUT it is loosing all inline styles 👎

[2017-07-11 13:24] Tseko opened #160 "HtmlToWmlConverter.ConvertHtmlToWml Loosing all inline tag styles."
I am loosing all inline tag styles in my markup. Is there a way to keep them and for example a simple paragraph to be centered in my .docx also. Now in my html the inline style is centering a simple paragraph, but in my converted .docx file it is not.
[code]

[2017-07-13 13:07] svhadar opened #161 "vnext branch Path issue + System.IO.Packaging.dll"
Hi,
it is the first time I tried to work with the Open-XML-Powertools.
I cloned the vnext branch and followed the "new" youtube video for the VS2071 build process.
The build process (using OpenXMLPowertools -> targeting .net 4.5)  runs fine with 2 successfull builds and no errors.
While importing the module I run into the following error multiple times:

[code]
The "Open-Xml-Sdk" directory does no

[2017-07-16 19:59] johnholliday opened #162 "Invalid XPath expressions caused by MS Word special characters"
Certain XPath expressions will fail if Word special characters such as smart quotes are passed through to XElement methods.  For example, the following table selector will fail because the single quotes are converted to \u2019 by Word and are then passed through to XElement.XPathSelectElements() by DocumentAssembler, which then throws an exception:

`<Table Select="//Order[@Type='X']"`

To fix thi

[2017-07-20 17:38] pigrew commented on #42
I've created a new tag "BlockContent" which will allow arbitrary XML to be substituted in a document at the block-level. It's pull request #163.  I'm using it for embedding custom tables, but I think that it may also be usable for images, given an additional directive to embed the image data in the archive (as specified by a file path/URL?).

[2017-07-20 20:36] pigrew commented on #161
It seems that the reference is not necessary, and should be removed (at least in .net 4.5). Perhaps the System.IO.Packaging class is made its own DLL in newer versions of .net? The System.IO.Packaging namespace is actually contained within "WindowsBase", which is already references. While building it, I removed all of the references to System.IO.Packaging, and it built cleanly.

[2017-07-21 20:14] lrchma commented on #143
I had the same error but using the below command resolved it (Package is part of WindowsBase)

[System.Reflection.Assembly]::LoadFrom("C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETFramework\v4.6\WindowsBase.dll")

Best Regards,

Chris

[2017-07-24 12:39] sucalavlad opened #164 "Symbols/Special characters not recognized"
Hello. I am using Open-Xml-PowerTools to convert word files to html and back.
The issue I am experiencing is that some of the special characters/symbols like 'less or equal' and 'greater or equal' are being converted to simple equal.
Do you have any ideas on this?

[2017-07-28 15:01] C1rdec opened #165 "Superscript create new lines"
Hi,
I have issue when I convert a docx to html.
When the docx contains a [Superlink](https://support.office.com/en-us/article/Format-text-as-superscript-or-subscript-e989637a-12ec-4fe5-8b04-345342408abd) the layout is screwed.
# **Docx Input**
`Hi I’m the 1st  and this should be on the same line.` (st is a superscript in the docx)

# **Html Output**
[code]

Files for the issue [(Issue 165.zip)](ht

[2017-07-28 19:01] C1rdec commented on #165
[TestSuperScript.docx](https://github.com/OfficeDev/Open-Xml-PowerTools/files/1184022/TestSuperScript.docx)

[2017-07-28 19:03] C1rdec commented on #165
Here are the files for the issue
[Issue 165.zip](https://github.com/OfficeDev/Open-Xml-PowerTools/files/1184026/Issue.165.zip)

[2017-07-29 23:48] svhadar commented on #161
Thanks pigrew.

Just to be clear, I am getting a clean build with System.IO.Packaging in the source files,
The errors I mentioned in my first post occurred while trying to import the Open-XML-Powertools module in a Powershell "session".

I now got a clean clone of Open-XML-Powertools and replaced all occurrences (5) of "using System.IO.Packaging;" with "//using System.IO.Packaging;".
But during th

[2017-07-31 06:43] Zache opened #166 "Converting html tables to Wml can create invalid documents (according to Word)"
[code]

Converting this creates wml code that looks like this:
[code]
And word doesn't think the resulting wml is valid. It requires `<w:p>` tag to come before the closing `</w:tc>` or in other words: a table cell with just table cell properties is invalid, it also requires some content.
HtmlToWmlConverterCore has a special case that handles this for `<td>` without text, but that doesn't work  if

[2017-07-31 06:46] Zache commented on #166
I found a related issue here https://github.com/OfficeDev/Open-XML-SDK/issues/8

[2017-08-03 11:17] KRGLV commented on #158
Hi All,

I am using below code for convert Word Document to HTML using, same error i am getting.

Using Nuget Package id="OpenXmlPowerTools" version="4.5.3.1" targetFramework="net461"

[code]

Please Find Attached file [Sample1.docx](https://github.com/OfficeDev/Open-Xml-PowerTools/files/1196958/Sample1.docx) and try to convert.

[2017-08-09 20:27] MatthewMcD commented on #143
The Import-Module works, but when I try:
`new-docx -OutputPath "c:\users\ruby\documents\test.docx" -Empty`

[2017-08-11 22:29] pigrew opened #168 "SpreadsheetWriter outputs the wrong cell type for strings"
Based on the ECMA standard, the "str" cell type should only be used for formula strings.

However, the SpreadsheetWriter class uses "str" for all strings.

Instead, it should either use an inline-string ("inlineStr"), or a shared-string ("s"). (Excel seems to use shared-strings most often)

For the inline-string, the text should be inside of inlineString/text markup.

See <https://stackoverflow.co

[2017-08-16 19:05] NETESudarshan opened #169 "Help with Hyperlinks in an Excel sheet's cell not working."
Hello -

We are trying to include hyperlinks in spread sheets that we download from our web sites.
The OpenXMLPowerTools works great, except we are unable to figure out an inbuilt way of writing a hyperlink to a cell.
As a work around, we tried using the formula "=HYPERLINK(""http://example.com"") for the cell value.
However, when the file is downloaded, the cell value shows as is like ```=HYPERLI

[2017-08-18 09:51] ranjithvenkatesh opened #170 "Be able to Slide Size during creation"
I am using the PresentationBuilder to create a PowerPoint presentation which takes multiple PowerPoint sources. The Slide Size is based on the first source document.

It would be great to set the slide size for the entire document irrespective of the individual sources.

[2017-08-19 14:11] programcsharp commented on #107
How does one "use the Open-Xml-Sdk to convert from strict to transitional"?

I'm using `HtmlConverter.ConvertToHtml` to accept uploaded Word documents to HTML for a CMS. If someone uploads a strict doc, it blows up with a null reference exception down in the entrails of that method. I traced it to the namespace matching in there -- strict docs use a different namespace so it just doesn't know what

[2017-08-21 03:36] ryanlin1986 commented on #116
Since .Net Core 2.0 is out,  any update on this?

[2017-08-22 07:38] fanbeisinan opened #171 "It does not convert math formulas, SmartArt, or DrawingML drawings."
It does not convert math formulas, SmartArt, or DrawingML drawings.
它不能转换数学公式、SmartArt 或 DrawingML 绘图。

[2017-08-24 16:09] sixlettervariables opened #172 "Normalization of some table cell structures loses formatting"
The code in DocumentAssembler that normalizes table cells and content controls loses cell formatting:

https://github.com/OfficeDev/Open-Xml-PowerTools/blob/473a21a09d6b690e81cf24a0d0cbe1d11cb36000/OpenXmlPowerTools/DocumentAssembler.cs#L195

It needs to reference the `W.sdtContent` element before the `W.tc` elements.

[2017-08-29 12:23] juanperezADD opened #174 "DocumentBuilder: Add subdocuments in the header section of other document"
Hi,

We want to insert the body of document A into the header of document B. For this task we could use a SUBDOCUMENT content control which we need to place it in the header of the document B.

¿Would it be possible to implement it with DocumentBuilder?

Thanks in advance

[2017-08-29 13:27] EricWhiteDev commented on #174
Hi,

DocumentBuilder does not have this feature.  If I had to implement this feature, I would do so by simply moving the markup from the body of document A into the header of document B.  However, there are lots of things to consider when writing this code - if for example, the content contains a reference to an image.  Warning: it is not simple code to write.  You have to correctly construct refe

[2017-09-01 16:24] penihel commented on #66
Something new about this? I need this feature too.

[2017-09-01 16:47] EricWhiteDev commented on #66
@penihel No, no progress on this.  Writing a pagination routine (even an approximate one) is a multi-week project.  Waiting on someone who wants this enough to fund it.

[2017-09-02 15:22] ThomasBarnekow opened #176 "RevisionProcessor throws Exception when encountering w:customXmlDelRangeStart"
The RevisionProcessor class currently ignores tags such as `w:customXmlDelRangeStart` that might be contained in `w:p` as direct children or descendants. For example, the following markup will make it throw an exception in the `private static bool AllParaContentIsDeleted(XElement p)` method (line 2278):
[code]
It is thus impossible to accept revisions in documents containing such markup.

[2017-09-04 20:03] #176 closed

[2017-09-07 20:13] #91 closed

[2017-09-11 15:01] kimsey0 opened #181 "DocumentBuilder doesn't handle multiple styles with the same style name but different IDs"
**Observation 1**
When creating a document, `DocumentBuilder` merges styles by using the first style with a given ID from the list of sources. As an example, if source 1 and source 2 both specify a style with the ID `heading1`, the style from source 1 will be used.

**Observation 2**
When saving a document in a version of Word with a different display language than English, Word localizes the styl

[2017-09-12 18:32] benbro opened #182 "Build instructions"
I've followed the [video](https://www.youtube.com/watch?v=otod1wXg8wI).
What are the next steps?
Are there instructions for building and running one of the [examples](https://github.com/OfficeDev/Open-Xml-PowerTools/tree/vNext/OpenXmlPowerToolsExamples) from start to finish?

Thanks

[2017-09-13 02:33] benbro commented on #182
This is what I've tried.

Build Open-Xml-PowerTools.sln
1. git clone https://github.com/OfficeDev/Open-Xml-PowerTools.git to
C:\Users\myuser\Documents\WindowsPowerShell\Modules
2. Open OpenXmlPowerTools.sln in Visual Studio Community 2017
3. Tools -> Options -> NuGet Package Manager -> Package Sources -> add https://github.com/OfficeDev/Open-XML-SDK.git
4. Build -> Build Solution
5. Run tests - al

[2017-09-13 09:36] benbro commented on #182
Fixed by this PR
https://github.com/OfficeDev/Open-Xml-PowerTools/pull/180

[2017-09-13 09:36] #182 closed

[2017-09-13 10:30] benbro commented on #143
Maybe this PR helps
https://github.com/OfficeDev/Open-Xml-PowerTools/pull/180

[2017-09-16 01:16] DukeCheng commented on #116
Does any update on this issue? we are expect a .net core porting for PowerTools.

[2017-09-16 15:18] ryanlin1986 commented on #116
Please do update on this, road blocker for updating to .net Core

[2017-09-18 19:40] smbecker commented on #116
Perhaps part of this is splitting out the powershell cmdlets from the pure processing (i.e. `DocumentBuilder`, `DocumentAssembler`) functionality.

[2017-09-18 19:49] twsouthwick commented on #116
I chatted with @EricWhiteDev and he wanted to hold off on this until the Powershell stuff is removed. Is there an update for this?

[2017-09-18 21:20] EricWhiteDev commented on #116
@twsouthwick No update yet - I will work on getting this done in the next few days.

[2017-09-18 21:37] kimsey0 commented on #181
@EricWhiteDev: A description of the style issue and a potential fix for discussion at our meeting tomorrow.

[2017-09-19 14:20] krembf commented on #42
In my fork [https://github.com/krembf/Open-Xml-PowerTools/commit/3779fc4f8ed11432b81f133a095f0fc3fe84c86e](url) I've made an implementation for ImageContent tag which allows embedding image input of different kind (base64 or file path). I've added bunch of unit tests which show different scenarios of using it. I'm sure it's not going to support all possible scenarios, but this is working code whic

[2017-09-20 06:26] Zache commented on #166
@ThomasBarnekow @EricWhiteDev Could this please get some attention?

[2017-09-21 04:02] pigrew commented on #42
@krembf,
Could you fix your link? It's giving me a 404 error when I click it.
I like the patch, and will give it a try when we need to redo any of our reporting code. I think that it'll fit our needs. My current patch ("BlockContent") is a bit unwieldy though it works and gives the user full control of everything (I've been using it both for table generation and for image insertion).
Security impl

[2017-09-21 13:48] mesteves opened #184 "DocumentAssembler - binding directives in tables"
Hi,

I'm trying to use DocumentAssembler to generate documents based on xml files, and using repeat directive associated with table directive, i'm not being able to:

1. Use two expressions in one cell of the prototype row (like ./Price ./CurrencySymbol )
2. Use select content expression on table header. (like **Price** `<# <Content Select="./SaleItems/SaleItem[1]/@Currency"/> #>` ) - produces inv

[2017-09-21 14:23] EricWhiteDev commented on #184
Hi Manuel,

DocumentAssembler doesn't have a fair number of options for combining / pulling data from XML files -

Instead, I envision using this by generating exactly the XML that you want, and then DocumentAssembler does the hard work of integrating that data into the DOCX.  So if you want both price and currency symbol in a table header, put them in the XML data file in that way.

I know that t

[2017-09-21 21:27] mesteves commented on #184
Hi Eric,

Yes, I understand and agree, and like you suggested I thought in that solution, and that works perfectly.

However, one thing that would be very useful, is allow content selector tags on the table header. I've played arround a bit and is only allowing to add on prototype row (`./ItemPrice`) and on some footer rows syntax like (`<# <Content Select="./SaleItems/SaleItem[1]/CurrencySymbol"/

[2017-09-23 03:05] krembf commented on #42
@pigrew ,
Sure, thanks for your comments. Just fixed the link, should be working now (although this is already not the latest commit). The "Aspect" tag is not in use anymore, so removed it already, sorry about that. My original intention was to specify whether the aspect ratio of the original image should be preserved or not. Eventually, I was able to achieve the same results by checking/uncheckin

[2017-09-25 11:47] juanperezADD commented on #42
@krembf,

I have tested your implementation for ImageContent. It is working if the image is placed in the body of the document, but when it is in the header an exception is thrown. Could it be possible to support this scenario?

Thanks for your work

[2017-09-26 14:07] ben-demotic opened #185 "DocumentAssembler - vNext line 558 - p.Elements().Count()"
Hi Eric

Thanks for the great library.  I just discovered OpenXmlPowerTools recently and am using it to replace my old RTF based token replacement with DOCX to really save on those storage costs!

Anyway, while working with some multi-line address data, delimited by '\n', I had a problem whereby not all of the <br/> elements were being inserted.

For example, say I have this text:

17 Shire Oak Ro

[2017-09-27 03:34] krembf commented on #42
@juanperezADD ,
Thanks for your feedback. Yes, support for ImageContent in header and footer is still work in progress. I will let you know once the implementation is done.

[2017-09-27 13:47] kaviyarasanaspire opened #186 "While applying background color in the html theme is applied in the wml file"
While applying background color for the text if the image is inserted between the text with different font the theme is applied in the wml file and assigning different font.
 <w:rFonts w:asciiTheme="minorHAnsi" w:eastAsiaTheme="minorHAnsi" w:hAnsiTheme="minorHAnsi" w:cstheme="minorBidi" />

Can anyone please give me the solution for this.

[2017-10-06 14:50] dkarnati commented on #157
I am trying the same. I have achieved it by  using "DiscardHeadersAndFootersInKeptSections". I am setting this to false. It works great.

            foreach (var stream in documentstreams)
            {
                // var tempms = new MemoryStream();
                // stream.CopyTo(tempms);
                OpenXmlPowerTools.Source sc = new OpenXmlPowerTools.Source(new WmlDocument(stream.Leng

[2017-10-16 21:53] alippai commented on #116
This could help compiling with CoreRT (and later WASM)

[2017-10-17 19:50] pholly commented on #116
@EricWhiteDev can we get a quick update on this? Thanks for all your work to provide this library.

[2017-10-18 14:32] krembf commented on #42
@juanperezADD ,
Just added the implementation for header and footer plus some bug fixes. There are also new unit tests that were added.

[2017-10-18 19:10] smbecker commented on #116
I have an initial port based on #148 that takes that one step further with support for `.netstandard2.0`. The existing xunit tests are passing for both `net452` and `netcoreapp2.0`. I'll open a PR once #148 is merged.

https://github.com/smbecker/Open-Xml-PowerTools/tree/netcore

[2017-10-19 16:12] EricWhiteDev commented on #42
I'll take a look at this.  I have a bit too much work, but have noted this on my radar.  Thanks for doing this work - looking forward to looking at it.

[2017-10-19 18:20] krembf commented on #42
Thanks, @EricWhiteDev, this will be great!

[2017-10-26 09:24] VictorIranzo commented on #42
@krembf,
We want to edit templates using OpenOffice and we are interested in your implementation to support images, also in headers and footers. Is it compatible with the DocumentAssembler notation using # ? Are you going to do a pull request with your changes soon?
Thanks for your work :)

[2017-10-27 14:22] vicpara opened #187 "DOCX to PDF"
Hi,
I want to convert a DOCX file to PDF on any linux distribution you support. I just don't have a windows OS available. How can I do it. I've looked into the documentation and there is no trace of it.

Alternatively, is there a way to say which page contains a text fragment. For example, a text fragment has been identified on page number xx from the document yy,docx?

Thanks

[2017-10-28 04:15] krembf commented on #42
@VictorIranzo ,
Thanks for the feedback and glad to hear you want to use this feature. I would love to pull the changes back to origin, hopefully it will be done soon.
Regarding the # notation, do you mean using the <# and #>, right? If yes, I'm working on it, will let you know once it's done.

[2017-10-29 18:41] prog-mahmoud opened #188 "page-break-before not applied"
The tool of converting HTML to Docx supports page-break-before: always

[2017-10-30 15:48] EricWhiteDev commented on #95
Yes, this is work that is scheduled.  I anticipate that this work will be completed sometime within the next month.

[2017-11-01 14:07] ilya-chumakov commented on #116
@smbecker thanks for your fork. I was able to flawlessly compile it after removing the PS-related code (I don't need it anyway). We even have pushed it into our private nuget feed to use `DocumentAssembler` in `netcoreapp2.0`-targeted apps until official PowerTools come.

[2017-11-03 12:12] kimsey0 opened #189 "WebExtensions parts are not copied over by DocumentBuilder"
From Office 2013, documents can contain WebExtensions parts (also known as [Office Web Extensibility Extensions](https://msdn.microsoft.com/en-us/library/hh695336.aspx)) which can link to Office Add-ins and specify taskpanes that are to be opened.

These WebExtensions parts are currently ignored by DocumentBuilder, but could be copied over instead.

[2017-11-06 19:59] krembf commented on #42
@VictorIranzo ,
Just submitted the changes. There are also new unit tests, majority of them are duplicates of the existing ones made for image content, but with # notation. It's now possible to use both methods (with or without content control):
With:
![image](https://user-images.githubusercontent.com/13991583/32461072-abee1812-c302-11e7-8c51-3bb915aad3d5.png)
Without (note there is no content con

[2017-11-14 17:34] MalcolmJohnston opened #191 "Document Assembler: Ability to merge in whole Word Documents or other Document Assembler templates"
Hello,

I wanted to check whether the above functionality would be useful to the project.  I have not contributed to  an Open Source project before so thought I would ask first before spending the time creating a Pull Request etc.

My implementation is as follows;

* Added two new elements; Document and DocumentTemplate
* These two elements share common attributes Path and Data
* The Path attribut

[2017-11-18 09:28] bestplay opened #192 "MarkupSimplifier.SimplifyMarkup w:hint issue"
OpenXML power tools 4.5.3.2 from Nuget.

When I edit my docx in a RUN with <w:hint="east asia">.

It will add new RUNs with or without <w:hint>.

Then the SimplifyMarkup method can not merge this new RUNs.

Any help?

My tricky work round is Add the same <w:int> to each adjacent runs.

But i don't know if some bad things will happen.

I have read the document about hint:

[2017-11-20 09:27] VictorIranzo commented on #157
The above solution doesn't work for me. I think we have the same problem as @juanperezADD : how can I merge 2 documents in the header of a single document? The information that I want to show in the final header can come in the body or the header (the easiest way) of the source documents and it can have images. If this it's not possible with DocumentBuilder, is there any DocumentAssembler notation

[2017-11-20 13:44] EricWhiteDev commented on #157
I am currently working on an enhancement to enable DocumentBuilder to insert documents into headers, using the approach whereby you insert a special bit of markup where you want the document to be inserted in the header.  You can then merge two documents into a header.

See screen-cast #6 in this list:

http://ericwhite.com/blog/blog/documentbuilder-developer-center/

[2017-11-20 14:08] saritakhachane opened #193 "imported word document not supporting for Listitems"
We have use OpenXML power tool 4.5.3.2 in our MVC project for importing word document.  after importing we are allowing user to edit it. But as list-items in Document are  imported with special CSS classes and not as UL LI ,so after hitting enter key  at the end of any bullet list item, next bullet list item wont created automatically.
Please guide us on, how we can import word document with list-

[2017-11-20 16:07] dam0vm3nt commented on #187
Hi. I'd like this feature too (exporting to PDF) but I think you will need an actual office installation for this. Infact this tools only deals with the file format and don't render anything. So there's no way you can render a docx file to pdf on linux using this library imho.

[2017-12-21 12:56] alejandronic opened #195 "Inline conditional not properly working"
Hi,
I need to make a sentence with the data i have in my XML, where some values should appear and some not. So I tried something like this:
XML:
<xml>
	<Condition1>true</Condition1>
    <Value1>5</Value1>
    <Condition2>true</Condition2>
    <Value2>5</Value2>
</xml>
DOCX:
<# <Conditional Select="./Condition1" Match="true"/> #>Value 1:<# <Content Select="./Value1"/> #><# <EndConditional/> #>,<# <

[2017-12-28 14:34] #181 closed

[2018-01-03 13:17] ChrisRyuGS commented on #116
Is there any updates?

[2018-01-05 19:40] danieldiazastudillo commented on #116
@smbecker Nice work until official por to NET Core is out. As @ilya-chumakov  i want to use it as a nuget package in my current project, i just need to "clean" XML markup but can you elaborate a little more on how to make ir a nuget package? Thanks in advance

[2018-01-10 00:34] sandhyarkr opened #196 "Support for converting textboxes in .docx to html"
Hi,
I am using OpenXmlPowerTools 4.5.3.2 for my project to convert .docx files to html . I have found that the  textboxes within the .docx files are not being converted into html. Is this feature likely to be supported?
I am doing this project as part of my organization requirement and most of the .docx files have textboxes and embedded data within the same which needs to be seen in the converted

[2018-01-10 15:33] MalcolmJohnston commented on #184
Hello Manuel,

I believe that there is a way that you can achieve this by splitting the table and using the <Repeat> construct instead of the <Table> construct.

Please see my example below and see what you think.

![image](https://user-images.githubusercontent.com/33666206/34780613-7fc979ec-f61b-11e7-9ec2-7801af59f5ee.png)

I would normally wrap this whole block in a conditional like;

<# <Condit

[2018-01-15 22:17] AlirezaAhmadiRad opened #198 "Exception during conversion of html table to docx"
Hello
I have [this html file](https://1drv.ms/f/s!Alj_FDyopEuRgtp3ZozLwqQGXxZNWQ).
This is code for converting it to docx:

`                                XElement X = XElement.Parse(HT.HTML);
                                HtmlToWmlConverterSettings S = HtmlToWmlConverter.GetDefaultSettings();
                                WmlDocument D = HtmlToWmlConverter.ConvertHtmlToWml("", "", "", X, S)

[2018-01-18 02:32] lpperras commented on #198
Might be solved with PR #200.

[2018-01-31 11:52] mesteves commented on #184
Thanks @MalcolmJohnston that is a good way to workarround!! :)

Thank you!

[2018-01-31 12:36] mesteves opened #201 "Images Support"
Hi any plans to include something image support like this fork

https://github.com/krembf/Open-Xml-PowerTools/commit/3779fc4f8ed11432b81f133a095f0fc3fe84c86e

Thanks in advance!

[2018-02-06 10:36] VictorIranzo commented on #157
I have tried your enhancement. I have a doubt in this situation:
First, I have a document with a header. Then, I have a document with a body and a header, where the header contains an insert markup that refers to the first document. Could I insert the header of the first document in the place of this markup and keep the rest of the header of the second document?
Right now I'm able to replace the m

[2018-02-06 14:49] EricWhiteDev commented on #157
@VictorIranzo Currently, this is not a feature of DocumentBuilder.  It only supports inserting the body of another document into the header.  It does not support replacing the markup in the header with the header in the other document.

[2018-02-07 21:00] dkitchen opened #202 "DocumentAssembler generates large file"
The size of the Assembled Document is around the same size as the template (word doc) from which it was produced. In my current case, this is a problem, because my word doc template is 27 megs, but has numerous conditionals (especially around large images I need to hide/show based on data).

After the doc is assembled, I expect the assembled file to only be around 5 megs. Testing this assertion, I

[2018-02-08 12:33] g-tw0 commented on #106
WorksheetAccessor.AddDataValue(doc, pivot, "Column Name", <Summary Type>);

there should have been some argument regarding Summary Type as we can't find a way to change summary type through code and it is taking by default 'SUM'.

[2018-02-14 21:12] #65 closed

[2018-02-16 08:53] kimsey0 commented on #84
Fixed by #204.

[2018-02-16 08:53] #84 closed

[2018-02-16 12:27] MalcolmJohnston commented on #201
I have made a minor improvement to @boriskreminskimoldev fork (added an Optional attribute to remove images where no file or data is found) and would be happy to create and put up a pull request.

But I don't want to step on anyone's toes!

[2018-02-20 16:45] krembf commented on #201
@MalcolmJohnston sure, feel free to create a pull request, glad to see this feature being improved!

[2018-02-23 16:34] ManiMaranVasan commented on #161
i faced the same issue in my project.
i am using .Net framework 3.5
even i got the error, after included like this

`using System.IO.Packaging;`

Solution which helped for me is
i have added **WindowsBase** as reference in project which already exist in .Net framework.

Thanks
Maran

[2018-02-23 17:39] twsouthwick commented on #116
@smbecker I got the support for the new project structure merged in yesterday, so any PRs to update to support .netstandard2.0 would be awesome! Incremental ones may be best (not sure how much code churn is required, but just cc me on any PR and I'll take a look at it).

[2018-03-05 16:10] pedro-w opened #214 "Regression in OpenXmlRegex.Replace"
[me.docx](https://github.com/OfficeDev/Open-Xml-PowerTools/files/1781634/me.docx)
[you.docx](https://github.com/OfficeDev/Open-Xml-PowerTools/files/1781636/you.docx)

I've got a program using OpenXmlRegex.Replace to replace text 'templates' in a Word document with new values. I am getting problems with version 4.5.3.2 which weren't in 4.5.3.1. It looks like, once the document exceeds a certain siz

[2018-03-05 20:33] XzaR90 opened #215 "Copy custom xml and SharePoint metadata on merging document"
**Description**
Copy custom XML and SharePoint metadata on merging document does not work using DocumentBuilder?

**Information**

- .NET Target: NET Framework 4.5.2
- DocumentFormat.OpenXml Version: OpenXMLSDK-MOT 2.6.0.0

**Expected**

When I comment out if (itemList.Contains(propertyPartDoc.Root.Attribute(DS.itemID).Value)) I get the expected result.

[code]

[2018-03-06 16:35] pedro-w commented on #214
I've made the example program a lot smaller. The problem is in `OpenXmlRegex.Replace` itself and not in any of the document manipulation that happens around it. The cause seems to be an element `<w:lastRenderedPageBreak />` which Word inserts (hence the dependency on the document size.)
This program
[code]
produces output (the file 'you.xml') for 4.5.3.2
[code]
and this for 4.5.3.1
[code]
Hope tha

[2018-03-08 16:05] pedro-w commented on #214
Previous work was with the NuGet packages. I've checked with the current vNext branch and I think maybe it has been fixed, specifically by commit fba2207ca00218257f4e3793958cface5e8dfa4b . Can you confirm if this sounds reasonable?

[2018-03-12 16:34] arthurvb opened #216 "Add support for exporting images in .net core"
Dear Reader,

Currently I cannot export images in .net core since ImageInfo has a bitmap property, where I get the following error:

Error	CS7069	Reference to type 'Bitmap' claims it is defined in 'System.Drawing', but it could not be found	DefaultProcessorImplementation

when I want to use 'imageInfo.Bitmap.Save(ms, imageFormat);' in the ImageHandler. I did try to add the 'System.Drawing.Common'

[2018-03-30 18:41] #143 closed

[2018-04-03 13:47] adamjez opened #217 "ore"

[2018-04-03 13:48] #217 closed

[2018-04-17 03:04] hjdo opened #220 "How from. XLSX converted into HTML?"
Hello, I encountered this problem, after searching the community and documentation still did not answer, so excuse me, if you can help me answer it?
thank you very much!

[2018-04-17 11:45] kimsey0 commented on #189
Should be fixed by #208.

[2018-04-17 11:45] #189 closed

[2018-04-27 14:31] kokhany opened #222 "Add support for emf/wmf images conversion into html"
It's known issue that GDI consumes huge amounts of memory when dealing with emf/wmf.

On the other hand, image/x-emf, image/x-wmf are valid types of images in both OpenXML and RTF specs.

While it still possible to replace these images with converted analogs using OpenXML SDK, it would be useful to allow convert a document with them into html (instead of just ignoring silently).
It's much simpler

[2018-04-30 16:57] ThomasBarnekow commented on #220
@haijiandong Can you be a little more specific as to what you are looking for?

Do you want to use the Open XML Power Tools to transform an Excel document to HTML? Did you already have a look at the source code to see whether you can find that functionality?

Not sure whether @EricWhiteDev has anything in the making, but I am not aware of that capability in the current version.

[2018-04-30 16:59] ThomasBarnekow commented on #216
@arthurvb This does not sound like an issue with the Power Tools per se. You should consider posting a question on stackoverflow, for example.

[2018-04-30 17:02] ThomasBarnekow commented on #214
@pedro-w Yes, your problem sounds familiar and my commit fixed just that.

[2018-04-30 17:05] ThomasBarnekow commented on #187
The feature you (and likely everybody else) would like to have would require a full rendering engine, which is not included in the Power Tools. You will have to use whatever other tools can print or publish a DOCX in PDF format.

[2018-04-30 17:07] ThomasBarnekow commented on #155
@ajan1966 Could you check whether that has been fixed in the latest version?

[2018-04-30 19:34] pedro-w commented on #214
Thanks. Do you think the next version will be released imminently or is there much more work to do?

[2018-05-02 04:03] tikal commented on #116
Any updates on this ? Thanks

[2018-05-06 16:56] ThomasBarnekow commented on #214
@pedro-w What do you mean with "will be released"? As a NuGet package?

[2018-05-06 21:41] pedro-w commented on #214
Yes, exactly. It's more convenient to work with a dependency on NuGet. Thanks!

[2018-05-07 12:49] jacobbutton commented on #216
@arthurvb - I ran into the same issue a few months ago and wasn't able to resolve it.

Give this a shot - https://www.nuget.org/packages/System.Drawing.Common/4.5.0-rc1 - to make sure System.Drawing.Bitmap is referenced.

It didn't work for me, but there's been a few more iterations since I tried, with a new release candidate just a few hours ago. Maybe that fixes whatever was wrong? If you have a

[2018-05-07 13:09] jacobbutton commented on #216
For some clarification... this is where I'm getting the error.

`

	using (WordprocessingDocument wDoc = WordprocessingDocument.Open(memoryStream, true))
		[...]
		WmlToHtmlConverterSettings settings = new WmlToHtmlConverterSettings()
		{
			[...]
			ImageHandler = imageInfo =>
			{
				[...]
				imageInfo.Bitmap.Save([...]
				[...]
				ImageFormat format = imageInfo.Bitmap.RawFormat;
				[...]

[2018-05-10 09:10] arthurvb commented on #216
@jacobbutton Reading the comments on the issue you referred I think this indeed the cause, thank you.

[2018-05-16 15:44] dionisor opened #223 "Unable to Import Module Open-xml-powertools"
I want to use powershell modules so I´ve tried next instructions:

[code]
How can I use it?

Thanks

[2018-05-16 18:38] BradDuncan commented on #222
Agreed!  I ran into this issue today.  I can convert the x-emf, convert to a png, and create the embedded image string but no have mechanism to insert.  Furthermore, there is no commenting in the HTML (or warning) that the image was excluded.
The change does seem rather trivial.  If nothing else, allowing the user to perform the conversion on these files through the image callback.

[2018-05-22 10:35] VictorIranzo opened #224 "ChartUpdater: Support for Combo charts"
Hi,
We are interested in ChartUpdater working with Combo charts. The combo charts are those that mix series of different chart types. A combo chart can be done using Word as shown at the screenshot:

![image](https://user-images.githubusercontent.com/27296704/40357379-4cb39ce6-5dbc-11e8-9440-dc050b7c3ce6.png)

We have tested the current ChartUpdater component for replacing the values of this chart

[2018-05-26 02:13] ryanlin1986 commented on #116
Since .Net Core 2.1 RC was released, any updates on this?

[2018-05-26 16:50] NamelessHH commented on #116
I haven't looked at it anymore we went a different way and just used a
different library

On Fri, May 25, 2018, 8:13 PM ryan lin <notifications@github.com> wrote:

[2018-05-29 19:59] jacobbutton commented on #116
@NamelessHH What library did you go with?

[2018-06-03 07:04] YoungroKim opened #225 "The bookmark ID may also be a string."
The bookmark ID can also be a string. However, the code below assumes that the bookmark ID always contains only digits.

DocumentBuilder.cs

`
private static void AdjustUniqueIds(WordprocessingDocument sourceDocument,
            WordprocessingDocument newDocument, IEnumerable<XElement> newContent)
        {
            ......
                int id = (int)item.Attribute(W.id);
                if

[2018-06-03 07:16] #225 closed

[2018-06-07 02:41] v-fanfan opened #226 "This is no Open-Xml-PowerTools.psm1 file, that I can import module to PS"

[2018-06-09 20:32] nlsdg commented on #223
Did you actually build the solution? And did you download and build the OpenXML SDK?
You can probaly still follow https://www.youtube.com/watch?v=60w-yPDSQD0, although it's an older version.

[2018-06-09 20:37] nlsdg commented on #226
Correct. You need to build it first.
Follow the instructions from https://www.youtube.com/watch?v=60w-yPDSQD0.

[2018-06-09 20:44] nlsdg commented on #171
Can you specify in more detail from what or to what you want to convert them?

[2018-06-09 22:20] winterlaite commented on #191
I, for one, would be very, very interested in seeing your code. What you describe is a great idea.

[2018-06-11 14:40] VladDragnea opened #227 "Accepting Revisions on a document that contains AlternativeFormatImportPart will remove the part"
Hi. I have this issue with any kind of document that contains altChunk element. Calling: OpenXmlPowerTools.RevisionAccepter.AcceptRevisions(wordDocument) on that document will remove all altChunk elements within the body of the document. I assume this is not supposed to happen, or am I wrong?
This is a simple version of a file on which this issue is happening:
[Test.docx](https://github.com/Office

[2018-06-23 18:14] ryzhovalexandr opened #229 "How convert to Html with inline style instead of accomulating them into head-style tag?"
I want to insert converted doc in div part of html page. I don't want to use frames.
Is there option to convert doc to html with inline style? for example instead of

`<head><style>...</style><head><body><p class="..">..</p></body>`

get just

`<body><p style=".."><span style=".."></span></p></body>`

[2018-06-25 14:19] EricWhiteDev commented on #229
Currently that isn't a feature of the Open-Xml-PowerTools.  It would not be too hard, but this isn't implemented.  But what you could do is to use the HtmlAgilityPack (or LINQ to XML in combination with HtmlAgilityPack to insert the right elements into your page at the proper place, and to merge the contents of the style element with the style element of the containing page...

[2018-06-25 14:19] #229 closed

[2018-06-27 18:45] ryzhovalexandr commented on #229
@EricWhiteDev thank you

[2018-06-30 12:57] ryzhovalexandr commented on #229
By the way, I've found nice solution with [PreMailer.Net](https://github.com/milkshakesoftware/PreMailer.Net)

[2018-06-30 14:51] lookilook opened #230 "Markupsimplifier does not simplify when only settings.RemoveSoftHyphens or settings.RemoveLastRenderedPageBreak is set"
Markupsimplifier does not simplify when only  settings.RemoveSoftHyphens or settings.RemoveLastRenderedPageBreak is set to true.
When one of the other Settings is true too then it does remove softhypens or LastRenderedPageBreak.
my suggestion for solution:
in MarkupSimplifier.cs -> SimplifyMarkupForPart
add the following 2 lines in the If Statement beginning in line 561
                 settings.R

[2018-07-02 03:05] haijiandong commented on #220
@ThomasBarnekow  Thank you for replying my question. I did not find the ability to convert excel to html in this project. may be what I missed.
Looking forward to having a good result. Thanks again.

[2018-07-02 07:34] ThomasBarnekow commented on #220
Just to be sure, I don’t think you missed anything. The PowerTools do not offer that feature.

You could ask @ErivWhiteDev whether he is working on something in that direction.

[2018-07-02 08:01] haijiandong commented on #220
Thank you @ThomasBarnekow .
Looking forward to the good news of @ErivWhiteDev . But I don't want to ask for the demand like a product manager, which can be very annoying. 😂😂😂

[2018-07-08 12:41] cosmaioan commented on #42
This sound like a very nice and useful feature.
Has this been already merged ?

[2018-07-09 17:42] ObadMahrous opened #231 "Viewing the result of comparing documents in html"
I need to display the result of comparison of documents in html such as displayed in word
The result is displayed but without highlighting the changes in html

Thanks

[2018-07-10 04:15] krembf commented on #42
@cosmaioan I don't think so. The maintainer promised to review my fork, but my guess it never happened, despite the feature being requested by several devs. I can try to submit PR, let's see how it goes.

[2018-07-10 07:15] VictorIranzo commented on #42
@cosmaioan We tested the changes of @krembf and they work nice. We were using its fork but it will be better if they are merged here.

[2018-07-12 17:38] DeuteriumCore opened #234 "Error: Sequence contains no elements when running DocumentBuilder on a server"
However, when I run part of the code that merges two documents on my computer, it works fine. Any help? Thanks!

Here is the code:
`using (WordprocessingDocument wDocIn = WordprocessingDocument.Open(mem, false))
                using (WordprocessingDocument wDocTemplate = WordprocessingDocument.Open(mem2, false))
                {
                    List<Source> sources = new List<Source>();

[2018-07-14 06:58] pratisharora opened #235 "While trying to convert the following word document to HTML the output has extra spaces between words."
While trying to convert the following word document to HTML the output has extra spaces between words.

See the input documnet the second word presentation is split to     prese  n  tation, the same goes for many other words.

Orignal document
[Pratish_DOC_SAmple.docx](https://github.com/OfficeDev/Open-Xml-PowerTools/files/2194734/Pratish_DOC_SAmple.docx)
Output
![image](https://user-images.github

[2018-07-20 22:53] PhenX commented on #116
@twsouthwick I made a PR based on the vNext branch : https://github.com/OfficeDev/Open-Xml-PowerTools/pull/238

Hope this helps !
It supports both netstandard2.0 and net461, all unit tests pass on both targets.

[2018-07-25 07:17] tdolot opened #239 "Histogram chart support"
Hi,

Does OpenXmlPowerTools support Histogram chart? I've checked the code and it looks like Histogram is of type chartEx, I cannot find any reference to it anywhere. If it's not supported, are there any plans to add the support? Are there any technical reasons for which chartEx is not implemented?

Regards

[2018-07-28 11:36] pmcquay opened #240 "search and replace with string.empty as the replace throws exception"
index out of bounds exception.

Pretty sure its because of this line in textreplacer:

if (textValue[0] == ' ' || textValue[textValue.Length - 1] == ' ')

I haven't actually debugged this using this library, but I was getting the same exception with this library, and tried something else using this: http://www.ericwhite.com/blog/search-and-replace-text-in-an-open-xml-wordprocessingml-document/ cod

[2018-07-31 21:47] MalcolmJohnston commented on #191
Hi @winterlaite just to let you know that I have finally found some time to put the pull request together.

[2018-07-31 21:48] MalcolmJohnston commented on #201
@krembf thanks for putting the pull request together since I didn't get round to it.  Once it is merged in hopefully I will find the time to put my minor improvements in.

Thanks again for your work on this.

[2018-08-08 06:16] mumby0168 opened #242 "error CS0246: The type or namespace name 'DocumentFormat' could not be found (are you missing a using directive or an assembly reference?)"
Trying to use this along with open XML SDK and I have included both in my project yet this error still persists any ideas?

[2018-08-09 13:13] Crayjin commented on #242
I added the nuget package for https://github.com/OfficeDev/Open-XML-SDK.

[2018-08-28 09:28] Suresh-Subedi opened #243 "Document with justified and left aligned text is incorrectly formatted when converting to html"
Minimum markup for which conversation fails:

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<w:document xmlns:wpc="http://schemas.microsoft.com/office/word/2010/wordprocessingCanvas"
    xmlns:cx="http://schemas.microsoft.com/office/drawing/2014/chartex"
    xmlns:cx1="http://schemas.microsoft.com/office/drawing/2015/9/8/chartex"
    xmlns:cx2="http://schemas.microsoft.com/office/drawing

[2018-08-28 09:30] Suresh-Subedi commented on #243
colon office colon is converted to icon by github

[2018-08-29 08:22] PhenX opened #244 "Tests fail because of OxPt.PbTests.PB006_VideoFormats on .Net Core"
Error :

Discussion here : https://github.com/OfficeDev/Open-Xml-PowerTools/pull/238#issuecomment-411069902

This is a bug in .net Core 2.0 runtime : https://github.com/dotnet/corefx/issues/26952

[2018-09-06 13:10] DanielBailey1001001 opened #245 "ChartUpdater does not update series in Radar chart type"
When you are using Open Xml PowerTools to add data to a chart using ChartUpdater, a Radar chart type will not get updated. It is simply not in the list of chart types that the updater checks for. I am sending a pr with a fix for it.

[2018-09-07 10:52] NicoJuicy opened #248 "Page breaks not converted from Docx to HTML"
Page breaks are currently not supported in Docx to Html

I added a Pull Request ( https://github.com/OfficeDev/Open-Xml-PowerTools/pull/246 ) to fix this.

[2018-09-11 15:23] rmourato opened #249 "DocumentBuilder.BuildDocument not thread-safe"
`DocumentBuilder` maintains private static collections that `BuildDocument` mutates.
One such collection is `NamespaceAttributes` which can cause the API to fail when used concurrently, with exceptions like:

   at System.Xml.Linq.XElement.AddAttributeSkipNotify(XAttribute a)
   at System.Xml.Linq.XContainer.AddContentSkipNotify(Object content)
   at System.Xml.Linq.XContainer.AddContentSkipNotify

[2018-09-11 23:59] taiyangluoshan88 opened #250 "can compare for excel files and pdf files?"
now i want to compare the excel and pdf files,but do not know if this lib support it.

[2018-09-14 15:31] MalcolmJohnston commented on #250
Hello,

This library does not have any functionality for comparing XSLX files with PDF's generates from XSLX.

I do not know the it's and puts of the PDF format but you would probably have better luck trying to find something that will convert PDF back to source first.

[2018-09-16 10:40] IrakliLomidze opened #251 "ConvertToHtml have an issue with Strict Open XML Files"
ConvertToHtml have issue with Strict Open XML Files

...
   XElement htmlElement = WmlToHtmlConverter.ConvertToHtml(wDoc, settings);
Generate Null reference exception, But if document is in TRANSITIONAL DOCX format all works fine.

[2018-09-18 05:55] axelheer commented on #116
Any updates on this?

[2018-09-19 11:36] DaveyRance opened #252 "Unable to run / find / build Powershell Module"
Good morning i have been struggling with trying to get the powershell module working for the last day or so.

If i follow the instructions from https://www.youtube.com/watch?v=60w-yPDSQD0 i am able to clone the open-xml-sdk and open-xml-powertools no issues to my powershell\modules folder. Compile the sdk no issues but on checking the powertools folder there is no powershell module. Checking the b

[2018-09-19 23:42] taiyangluoshan88 commented on #250
Hi MalcolmJohnston,
My measn is i wounder if this lib can compare one excel with another excel file, or compare one pdf file with another pdf file, do not need compare pdf file with excel file.

[2018-09-20 08:27] MalcolmJohnston commented on #250
Hi @taiyangluoshan88 ,

Thanks for getting back to me, from the read me for this project :)

So there isn't anything out of the box.  You might want to look at the OpenXML SDK and see what objects are exposed for working with spreadsheets.  If the spreadsheets you are looking to compare have  similar structures then you might be able to build some simple code on top of that.

Cheers,
Malcolm

[2018-09-21 16:55] jureles opened #253 "HtmlToWmlCssParser.cs Parsing Error"
Hi,

There is a CSS parsing error that occurs in HtmlToWmlCssParser.cs.

The CSS parser throws an exception for the following CSS style:
`border: solid red .5pt`

On the other side the following CSS style string is properly parsed:
`border: solid red 0.5pt`

I would try to  fix this myself, but I haven't seen any grammar file in the project where I could fix this. It seems like the CSS parsing cla

[2018-10-02 12:16] DiplIngAndreasScholz opened #254 "Converting ordered/unordered lists"
When converting an ordered list to word using ConvertHtmlToWml output is always an unordered list.
Input:
<html xml:space="preserve" xmlns="http://www.w3.org/1999/xhtml">   <ol>     <li>   ordered list</li>     <li>zwei</li>   </ol>   <ul>     <li>unordered list</li>     <li>bullet</li>   </ul> </html>

Output:
•	ordered list
•	zwei
•	unordered list
•	bullet

[2018-10-02 14:59] yasmus commented on #252
i have the same problem.

[2018-10-05 23:41] nlsdg commented on #253
You didn't provide the exception that happens.
Does the parser exception specify where in the parser the exception occurs? That would the first starting point to find out.
Or run everything under a debugger and you should get the same result.

[2018-10-10 10:44] ThomasBarnekow commented on #250
Both the Open XML SDK and the PowerTools privide ways to read and write Open XML elements. The SDK provides strongly typed classes and the PowerTools provide XNames used with Linq to XML.

Implementing your comparison will not be simple, though.

[2018-10-15 18:18] DoctorVanGogh opened #257 "RevisionAccepter.AcceptRevisions may strip non-content nodes from document (bookmarks & others)"
It seems `RevisionAccepter.AcceptRevisions` will 'eat' certain markup fragments. I'd bet this is the same root cause as #227.

Our document fragment was
[code]
**(Note the two bookmark pointers in between the paragraphs)**
This will get 'accepted' as:
[code]
**Note the bookmark references are now missing**

Some extended breakpoint stepping points to `RevisionProcessor.AcceptDeletedAndMoveFromPara

[2018-10-16 10:43] ShinShil opened #258 "Bullets are broken when converting to html on the webview"
**Error description**
I have converted docx to html with `HtmlConverter`. OpenXmlPowerTools version: 4.5.3.2

This is output for bullets list
[code]
The square in `.pt-000006` is a bullet sybmol. It displays on the PC, but on the IOS you it looks in next way:
![image](https://user-images.githubusercontent.com/11064696/47010806-c05d7180-d148-11e8-80b1-7547ee0a4ea3.png)

Also the same problem for a

[2018-10-16 11:44] ShinShil commented on #258
BTW I have found what the problem, resulting html uses some font-families, that are missing on the android. F.e. for bullets: `font-family: symbol`.

My current fix:
[code]

[2018-10-16 15:48] jureles commented on #253
I'm sorry for the latency.

The easiest way to reproduce this exception is to parse the following HTML fragment with the HtmlToWml converter:
`<p style="border: solid red .5pt;">QQQ</p>`

The error message is: "CssParser error: line 1 col 22: invalid identity"

And the stack trace is:
at OpenXmlPowerTools.HtmlToWml.CSS.Errors.SyntaxError(Int32 line, Int32 col, Int32 n) in D:\Projects\MyProject\Loa

[2018-10-17 13:18] bguyb commented on #61
Hi
I'm trying to convert and text boxes are not showing at all in the result HTML.
Version 4.5.3.2
Is it supported?
Tx

[2018-10-20 09:54] ajan1966 commented on #257
Had the same problem. I did some investigation, imho it is sufficent to change line 1861 in RevisionProcessor
`                     .FirstOrDefault(e => e.Name == W.p || e.Name == W.tbl);`
to
`                     .FirstOrDefault();`
I changed it and my tests did not show any other Problems.

[2018-10-20 15:18] ThomasBarnekow commented on #257
@DoctorVanGogh and @ajan1966, in many cases, the markup is simplified before doing the actual processing, which then does not consider those types of elements that were removed during the markup simplification. You should generally look at whether or not the `MarkupSimplifier` class is used and, if it is used, check the settings. You might see something like:
[code]
Next to bookmarks, you might al

[2018-10-22 14:16] DoctorVanGogh commented on #257
@ThomasBarnekow Thanks for the hint, but that's not it. The `RevisionAccepter` and `MarkupSimplifier` are distinct pieces of code which do not call into each other. (Although there is some functional overlap insofar as the MarkupSimplifiercan strip revision meta information).

Funnily enough our code uses _both_ of those clases. Alas, the issue is in the `RevisionAccepter`.

[2018-10-23 05:03] ajan1966 commented on #257
RevisionAcceptor calls Line 1322 AcceptRevisionsForPart(OpenXmlPart part), which calls AcceptDeletedAndMoveFromParagraphMarks.
AcceptDeletedAndMoveFromParagraphMarks itself calls AcceptDeletedAndMoveFromParagraphMarksTransform.
AcceptDeletedAndMoveFromParagraphMarksTransform builds and returns newBlockLevelContainer based on the Collection returned from IterateBlockContentElements.
IterateBlockCon

[2018-10-25 09:47] liugt34 opened #259 "when i convert a docx to html ,the format is wrong"
### **just use the demo WmlToHtmlConverter01 project**
### **this is the docx**
![image](https://user-images.githubusercontent.com/8056013/47491442-6c0b6d80-d87d-11e8-81df-fa9f8da35a5d.png)

### **this is the html converted**
![image](https://user-images.githubusercontent.com/8056013/47491484-7f1e3d80-d87d-11e8-8a81-539d3f51dd41.png)

i find the css width  is to samll ,only 0.5in
![image](https://

[2018-11-01 00:47] johnholliday commented on #61
@bguyb It works for me.  Are you seeing any error messages in the generated document?

[2018-11-01 08:06] bguyb commented on #61
I don't know. Where do I see errors?
The document opens up without showing errors.

[2018-11-01 15:34] kwaazaar commented on #116
System.Drawing.Common still only supports running on Windows only. I don't think .NET Core 3 will bring something new to the table, since the desktop support (UWP) will also only be supported on Windows only. Maybe the SixLabors-package is the way to go for netstandard2.0 targetframework, where net461 can remain using System.Drawing.

[2018-11-14 07:54] RachelBook3215 opened #260 "ConvertToHtml - docx convert to html without ContentControls"
I try to convert docx to html using OpenXmlPowerTools. The .docx file has ContentControls, but the problem is that the content controls moves only with the text, instead of placeholder at the HTML file.
I try to use 'SimplifyMarkupSettings' with the parameter 'RemoveContentControls' set to false, but it is doesn't work.
See at the code below.
`SimplifyMarkupSettings tabSettings = new SimplifyMarku

[2018-11-27 13:40] Herz3h opened #261 "Mono Support"
Hello I'm tryign to run the documentBuilder01 on Ubuntu with Mono 5.16, and it failed with CheckIsReadOnly(), here is the Stacktrace :

[code]
Then I tried to bundle the generated executable using [mkbundle](https://www.mono-project.com/docs/tools+libraries/tools/mkbundle/) and I get the following error :

[code]

So does this work on Windows only ? Or can it run on Linux ?

Thanks in advance!

[2018-12-02 14:17] RachelBook3215 opened #262 "Convert DOCX to HTML with embedded image"
Helo,
I tryed to convert DOCX to HTML using OpenXmlPowerTools.
But the images are didn't convert.
How can i embedded the image as encoding base 64?

Thank you for yuer help

[2018-12-03 13:00] RachelBook3215 commented on #262
Helo,

I find an answer at GitHub examples - WmlToHtmlConverterHelper.cs
I close this issue.

Thank you all

[2018-12-06 06:48] ForeverSmiling commented on #42
@krembf @EricWhiteDev any news when this feature will be added? I'm still waiting for it. ;-)

[2018-12-12 20:55] jbarbara opened #264 "Multi-word fonts fail"
Fonts like "Free 3 of 9" fail because they are not quoted in the resulted css/html

[2018-12-12 20:56] jbarbara commented on #264
diff --git a/OpenXmlPowerTools/SmlToHtmlConverter.cs b/OpenXmlPowerTools/SmlToHtmlConverter.cs
index b83682a..a052ba6 100644
--- a/OpenXmlPowerTools/SmlToHtmlConverter.cs
+++ b/OpenXmlPowerTools/SmlToHtmlConverter.cs
@@ -301,7 +301,7 @@ namespace OpenXmlPowerTools
                 style.AddIfMissing("font-family", string.Format(FontFallback[font], font));
                 return;
             }
-

[2018-12-13 16:00] ahmet269 opened #265 "ChartUpdater does not work with Waterfall Charts."
I am trying to update data in waterfall chart in word but chartupdater is unable to do this. ChartUpdater does not exist as ChartPart on the MainDocumentPart of word document but it exists as an ExtendedPart. Have you any ideas how to make this work in chart updater?

[2018-12-15 14:02] DanielBailey1001001 commented on #265
This may be a similar fix to #247, find this line of code and add your waterfall chart to the list:
else if (chartType == C.doughnutChart || chartType == C.ofPieChart || chartType == C.pie3DChart || chartType == C.pieChart)

Here is the link to the similar pull request that adds a radar chart:
https://github.com/OfficeDev/Open-Xml-PowerTools/pull/247/commits/f94542646a325332f7e5455da4426fc3ba4b738

[2018-12-15 14:39] ahmet269 commented on #265
Daniel thanks for the comment. This won’t work because the actual tags are different as well. Things like C.ser or C.f Xnames don’t work with waterfall charts because waterfall chart xml comes through with tag names cx:ser for example rather than c:ser.

I started to add code to handle these to chartupdater.cs so I am expanding it.

Just adding the chart type won’t work. Already tried that then I

[2018-12-20 08:32] MalcolmJohnston commented on #42
@krembf I was wondering if another way to tackle this would be to refactor DocumentAssembler so that new elements could be registered somehow.  If we could get that merged then we could maintain our extensions elsewhere.  We'd need buy in from the maintainers to do this though

[2018-12-28 00:17] dkddkk opened #267 "TextReplacer.SearchAndReplace cannot work on new WordprocessingDocument"
using (WordprocessingDocument xxDoc = WordprocessingDocument.Create(dstPath, WordprocessingDocumentType.Document))
            {
                MainDocumentPart objMainDocumentPart = xxDoc.AddMainDocumentPart();
                objMainDocumentPart.Document = new Document(new Body());

               //add paragraphs here

               TextReplacer.SearchAndReplace(xxDoc, tTarget, tKeyVP.Value,

[2019-01-04 08:59] ahmet269 commented on #265
I managed to fix this issue by changing the current chart updater class and introducing the handler for waterfall chart. Xml structure is completely different as the waterfall chart is not a chart part of the document but it is a extended part. plus the namespace ends in chartex and chart so it needed quite bit of changing to handle both current charts and extended parts as well. plus found some m

[2019-01-04 09:21] ahmet269 commented on #267
i suggest before you call search and replace , put a break point and check if your inputDoc has MainDocumentPart or not? you dont want this to be null before you calling textreplacer.
and what is it that you are trying to achieve here?

[2019-01-07 03:38] cloudybrain commented on #42
Wow three years and running, any news on this? I have a deadline on applying images coming up soon, and this would have been a nice feature to have included.

[2019-01-07 08:42] MalcolmJohnston commented on #42
@cloudybrain you can use the fork that @krembf created with image support.  I have been using the basis of this for over a year now and it works very well.

[2019-01-07 08:44] MalcolmJohnston commented on #42
Additionally, I have been thinking that perhaps a better way forward for additional features in DocumentAssembler would be to refactoring it so that supported elements are extensible.

I'd be happy to take this on or contribute to other efforts but would like some reassurance that it may actually get merged :)

[2019-01-07 16:13] michaellomonosov opened #268 "Why remove bookmark and comment after compare"
When I used this code
[code]

Result doc didn't have comments or bookmarks, but there was. It's bug or feature?

[2019-01-07 16:45] EricWhiteDev commented on #268
@michaellomonosov, retaining comments / bookmarks is not a feature of WmlComparer.  The organization that hired me to write that module (was not Microsoft) wanted only the functionality that is currently in WmlComparer.

[2019-01-07 16:45] #268 closed

[2019-01-07 16:48] EricWhiteDev commented on #42
Hi all,

Just to let you know - I have a completely refactored new version of this that I will be posting within 2-3 weeks.  It supports images, sub-documents, and more.  I will comment on this thread when it is posed.

The new module is refactored so that it is extensible.  (The resulting functionality is split into half a dozen modules.)

Best, Eric

[2019-01-09 21:12] MalcolmJohnston commented on #42
Hi @EricWhiteDev,

Looking forward to seeing the refactored code base for Document Assembler.

A question on the extensibility, will existing elements be able to be overriden. For example I have extended the Content element to do some basic inline HTML to WML in the fork I maintain.

Would I (in theory) be able to override the default implementation when the refactored code arrives?

Thanks for th

[2019-01-11 01:51] jjjmuniz commented on #224
@VictorIranzo I have written a solution that adds support for combo charts, as well as secondary axis for ChartUpdater. But... is this repository still active? @tomjebo @ThomasBarnekow @EricWhiteDev

[2019-01-11 15:11] VictorIranzo commented on #224
Great news! It's nice to see someone replying to this issue after a long time. Where could I see the features that you mentioned? Have you planned to open a PR?

Related to your question, Eric White announced some days ago a new release of this library in the #42 issue. However, it seems that the new commits will be more related with the DocumentAssembler than the ChartUpdater.

[2019-01-13 10:50] jjjmuniz commented on #224
#245 mentions this module also. I think the more that people are wanting to use the edge cases of Charts, the more motivation there is to refactor the module.

Part of the difficulty is that certain assumptions are baked into the algorithm, and solving these edge cases tends to introduce new ones.

For example, it is assumed that all data series ~~are~~ belong to a single parent element and that t

[2019-01-14 00:37] cloudybrain commented on #42
I tried using Kempf's code, but can't get it to work against a stored base64 string. It would be great if the library knew how to generate the byte array and immediately spit an image, without using c# code to save the png to a location that the document would have to retreive.

This is what I have for the xml document:

    <DocModel>
        <ImageBlob>data:image/svg+xml;base64,PHN2ZyB4bWxucz0ia

[2019-01-14 00:39] luizfbicalho commented on #42
Muito posto has a ZIP file. Thaís version uses base 64 inside the XML file. Check It out

[2019-01-14 00:44] cloudybrain commented on #42
Yeh but Kembf mentioned that it should work in an earlier comment.. but I don't see any demo of it working.. all the demos are showing that it works with png images that are already saved to disk. I'll try the other versions.. I can't wait until Eric posts his new refactored code.. I been trying various strategies trying to get this to work. If I had a few images I could use a conditional if.. but

[2019-01-14 00:57] krembf commented on #42
I'll check it later, but in the meantime, have you looked at any of the unit tests to see an example?

[2019-01-14 01:15] cloudybrain commented on #42
Yes I'm trying it out.. but apparently my results are giving a weird error. I just realized that the image isn't even trying to be converted because it can't find the xml element. If I change this:

    <Image Select="/ImageBlob" />

to

    <Image Select="/BlahBlahBlah" />

I get the same error.

    Error: Unmatched metadata can't be in paragraph with other text

When I switch it to this:

[2019-01-14 02:19] cloudybrain commented on #42
Okay I got it. My experience with this hasn't been that great, but it works.

Basically I can't have this image on the same line as other content on the page. When I added a new line to get the image isolated from the rest of the paragraph, it gave me a new error. Saying there is no image immediately after the image metadata tag.. I tried my best to remove all sorts of whitespaces and it wouldn't

[2019-01-14 03:13] cloudybrain commented on #42
Sorry to barrage this thread, unfortunately I can't use this library. The formatting is extremely difficult, if I make any adjustments to the formatting and content, I get the following error:

    Image metadata is not immediately followed by an image

Even though the image is right next to the Image metadata (I inspected it with paragraph marks turned on). This error could be thrown for any reas

[2019-01-14 15:16] EricWhiteDev commented on #42
Release date of the new module is scheduled for Feb 7.  I'll post on this thread when it is released.

[2019-01-29 08:53] MalcolmJohnston commented on #42
@cloudybrain without seeing your template document it is hard to say what is going on.

However, to me it sounds like you are using floating images?  Is that the case?

[2019-02-01 21:01] tomjebo commented on #267
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 21:01] #267 closed

[2019-02-01 21:02] tomjebo commented on #265
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 21:02] #265 closed

[2019-02-01 21:02] tomjebo commented on #264
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 21:02] #264 closed

[2019-02-01 21:03] tomjebo commented on #261
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 21:03] #261 closed

[2019-02-01 21:03] tomjebo commented on #260
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 21:03] #260 closed

[2019-02-01 21:03] tomjebo commented on #259
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 21:03] #259 closed

[2019-02-01 21:04] tomjebo commented on #258
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 21:04] #258 closed

[2019-02-01 21:04] tomjebo commented on #257
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 21:04] #257 closed

[2019-02-01 21:04] tomjebo commented on #254
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 21:04] #254 closed

[2019-02-01 21:04] tomjebo commented on #253
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 21:04] #253 closed

[2019-02-01 21:05] tomjebo commented on #252
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 21:05] #252 closed

[2019-02-01 21:05] tomjebo commented on #251
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 21:05] #251 closed

[2019-02-01 21:06] tomjebo commented on #250
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 21:06] #250 closed

[2019-02-01 21:06] tomjebo commented on #249
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 21:06] #249 closed

[2019-02-01 21:06] tomjebo commented on #248
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 21:06] #248 closed

[2019-02-01 21:06] #245 closed

[2019-02-01 21:07] tomjebo commented on #244
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 21:07] #244 closed

[2019-02-01 21:07] tomjebo commented on #243
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 21:07] #243 closed

[2019-02-01 21:07] tomjebo commented on #240
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 21:07] #240 closed

[2019-02-01 21:08] tomjebo commented on #239
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 21:08] #239 closed

[2019-02-01 21:08] tomjebo commented on #235
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 21:08] #235 closed

[2019-02-01 21:08] tomjebo commented on #234
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 21:08] #234 closed

[2019-02-01 21:09] tomjebo commented on #231
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 21:09] #231 closed

[2019-02-01 21:09] tomjebo commented on #230
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 21:09] #230 closed

[2019-02-01 21:09] tomjebo commented on #227
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 21:09] #227 closed

[2019-02-01 21:09] tomjebo commented on #226
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 21:09] #226 closed

[2019-02-01 21:10] tomjebo commented on #224
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 21:10] #224 closed

[2019-02-01 21:10] tomjebo commented on #223
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 21:10] #223 closed

[2019-02-01 21:10] tomjebo commented on #222
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 21:10] #222 closed

[2019-02-01 21:11] tomjebo commented on #220
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 21:11] #220 closed

[2019-02-01 21:11] tomjebo commented on #216
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 21:11] #216 closed

[2019-02-01 21:11] tomjebo commented on #215
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 21:11] #215 closed

[2019-02-01 21:12] tomjebo commented on #214
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 21:12] #214 closed

[2019-02-01 21:12] tomjebo commented on #202
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 21:12] #202 closed

[2019-02-01 21:12] tomjebo commented on #201
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 21:14] tomjebo commented on #201
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 21:14] #201 closed

[2019-02-01 21:19] tomjebo commented on #196
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 21:19] #196 closed

[2019-02-01 21:19] tomjebo commented on #195
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 21:19] #195 closed

[2019-02-01 21:19] tomjebo commented on #193
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 21:19] #193 closed

[2019-02-01 21:20] tomjebo commented on #192
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 21:20] #192 closed

[2019-02-01 21:20] tomjebo commented on #191
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 21:20] #191 closed

[2019-02-01 21:20] tomjebo commented on #188
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 21:20] #188 closed

[2019-02-01 21:21] tomjebo commented on #187
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 21:21] #187 closed

[2019-02-01 21:21] tomjebo commented on #186
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 21:21] #186 closed

[2019-02-01 21:21] tomjebo commented on #185
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 21:21] #185 closed

[2019-02-01 21:21] tomjebo commented on #184
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 21:21] #184 closed

[2019-02-01 21:22] tomjebo commented on #172
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 21:22] #172 closed

[2019-02-01 21:22] tomjebo commented on #171
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 21:22] #171 closed

[2019-02-01 22:44] tomjebo commented on #170
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:44] #170 closed

[2019-02-01 22:44] tomjebo commented on #169
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:44] #169 closed

[2019-02-01 22:44] tomjebo commented on #168
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:44] #168 closed

[2019-02-01 22:45] tomjebo commented on #166
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:45] #166 closed

[2019-02-01 22:45] tomjebo commented on #165
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:45] #165 closed

[2019-02-01 22:45] tomjebo commented on #164
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:45] #164 closed

[2019-02-01 22:46] tomjebo commented on #162
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:46] #162 closed

[2019-02-01 22:46] tomjebo commented on #161
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:46] #161 closed

[2019-02-01 22:46] tomjebo commented on #160
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:46] #160 closed

[2019-02-01 22:46] tomjebo commented on #159
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:46] #159 closed

[2019-02-01 22:47] tomjebo commented on #156
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:47] #156 closed

[2019-02-01 22:47] tomjebo commented on #157
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:47] #157 closed

[2019-02-01 22:48] tomjebo commented on #155
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:48] #155 closed

[2019-02-01 22:48] tomjebo commented on #154
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:48] #154 closed

[2019-02-01 22:48] tomjebo commented on #150
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:48] #150 closed

[2019-02-01 22:48] tomjebo commented on #149
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:48] #149 closed

[2019-02-01 22:48] tomjebo commented on #144
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:48] #144 closed

[2019-02-01 22:49] tomjebo commented on #140
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:49] #140 closed

[2019-02-01 22:49] tomjebo commented on #138
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:49] #138 closed

[2019-02-01 22:49] tomjebo commented on #121
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:49] #121 closed

[2019-02-01 22:49] tomjebo commented on #120
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:49] #120 closed

[2019-02-01 22:49] tomjebo commented on #119
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:49] #119 closed

[2019-02-01 22:50] tomjebo commented on #117
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:50] #117 closed

[2019-02-01 22:50] tomjebo commented on #116
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:50] #116 closed

[2019-02-01 22:50] tomjebo commented on #115
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:50] #115 closed

[2019-02-01 22:50] tomjebo commented on #109
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:50] #109 closed

[2019-02-01 22:51] tomjebo commented on #108
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:51] #108 closed

[2019-02-01 22:51] tomjebo commented on #106
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:51] #106 closed

[2019-02-01 22:51] tomjebo commented on #105
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:51] #105 closed

[2019-02-01 22:51] tomjebo commented on #102
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:51] #102 closed

[2019-02-01 22:52] tomjebo commented on #99
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:52] #99 closed

[2019-02-01 22:52] tomjebo commented on #98
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:52] #98 closed

[2019-02-01 22:53] tomjebo commented on #97
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:53] #97 closed

[2019-02-01 22:53] tomjebo commented on #96
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:53] #96 closed

[2019-02-01 22:53] tomjebo commented on #95
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:53] #95 closed

[2019-02-01 22:54] tomjebo commented on #94
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:54] #94 closed

[2019-02-01 22:54] tomjebo commented on #93
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:54] #93 closed

[2019-02-01 22:54] tomjebo commented on #90
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:54] #90 closed

[2019-02-01 22:55] tomjebo commented on #89
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:55] #89 closed

[2019-02-01 22:55] tomjebo commented on #85
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:55] #85 closed

[2019-02-01 22:55] tomjebo commented on #83
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:55] #83 closed

[2019-02-01 22:55] tomjebo commented on #82
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:55] #82 closed

[2019-02-01 22:56] tomjebo commented on #80
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:56] #80 closed

[2019-02-01 22:56] tomjebo commented on #79
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:56] #79 closed

[2019-02-01 22:56] tomjebo commented on #77
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:56] #77 closed

[2019-02-01 22:56] tomjebo commented on #74
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:56] #74 closed

[2019-02-01 22:57] tomjebo commented on #73
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:57] #73 closed

[2019-02-01 22:57] tomjebo commented on #71
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:57] #71 closed

[2019-02-01 22:57] tomjebo commented on #67
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:57] #67 closed

[2019-02-01 22:57] tomjebo commented on #64
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:57] #64 closed

[2019-02-01 22:58] tomjebo commented on #61
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:58] #61 closed

[2019-02-01 22:58] tomjebo commented on #57
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:58] #57 closed

[2019-02-01 22:59] tomjebo commented on #55
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:59] #55 closed

[2019-02-01 22:59] tomjebo commented on #52
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:59] #52 closed

[2019-02-01 22:59] tomjebo commented on #49
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 22:59] #49 closed

[2019-02-01 23:00] tomjebo commented on #48
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 23:00] #48 closed

[2019-02-01 23:00] tomjebo commented on #46
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 23:00] #46 closed

[2019-02-01 23:00] tomjebo commented on #45
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 23:00] #45 closed

[2019-02-01 23:00] tomjebo commented on #44
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 23:00] #44 closed

[2019-02-01 23:01] tomjebo commented on #43
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 23:01] #43 closed

[2019-02-01 23:02] tomjebo commented on #25
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 23:02] #25 closed

[2019-02-01 23:02] tomjebo commented on #24
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 23:02] tomjebo commented on #22
Closing all issues as this repo is being archived and will no longer be maintained by Microsoft. The project is licensed for continued use and development by forking to your own repo.

[2019-02-01 23:02] #22 closed

[2019-02-04 08:43] VictorIranzo commented on #42
@EricWhiteDev, after the announced bad news about this repo, do you have plans of releasing the announced module? Are you going to continue collaborating there? 😢

[2019-02-04 14:09] EricWhiteDev commented on #42
@VictorIranzo I am going to maintain the Open-Xml-PowerTools at EricWhiteDev/Open-Xml-PowerTools.  Yes, I will be releasing the announced module in that repo.  And I certainly will be continuing development of this project.

[2019-02-04 18:37] MalcolmJohnston commented on #42
@ericwhitedev that is good news.  Had a bit of a heart in mouth moment when I saw Microsoft would no longer be supporting the repo and relieved to see there will be a central repository maintained going forward.

If you need any help with DocumentAssembler bits and pieces then happy to help.  I will keep an eye out for your rewrite of that module in the new repository.